[2016-07-12 21:45] #230 closed

[2016-07-12 22:27] theofidry commented on #246
I sadly cannot reproduce the issue. To me it seems clear that the issue comes from the Symfony Yaml Parser, but I believe the issue has been solved since then. If you still encounter the issue with recent versions, feel free to open a new issue for it.

[2016-07-12 22:27] #246 closed

[2016-07-12 23:00] theofidry commented on #56
I think it's far too late now to change this behaviour as it's a very used feature. Even for v3 it would be too much of a userland BC. That said, we could have another version of the wildcard matching to exclude the declared class...

I'm closing this issue anyway as it's not really a focus now. If people are still interested and have a suggestion, feel free to open a new issue and avoid to spam e

[2016-07-12 23:00] #56 closed

[2016-07-12 23:03] theofidry commented on #112
As it's an old issue and far from being a focus for the next versions, I'm closing this one. If someones is still interested in this feature or something akin, please open a new issue for it.

[2016-07-12 23:03] #112 closed

[2016-07-12 23:05] theofidry commented on #186
As in real life it is fairly rare to have to access to a faker instance (most of providers have static methods) and considering it's a fairly old issue and nobody really wants to dig into this again, I'll be closing this one. If it is still a problem and are willing to look into it, feel free to open a new issue for it.

[2016-07-12 23:05] #186 closed

[2016-07-12 23:06] #196 closed

[2016-07-12 23:08] theofidry commented on #174
Although being an old issue, that is something that is planned for v3. Follow up in #388.

[2016-07-12 23:08] #174 closed

[2016-07-12 23:11] theofidry commented on #176
This is planned in v3 cf. #377. In 2.x a possible workaround is to simply use a custom provider to generate a safe password (i.e. which will not contain `@`).

[2016-07-12 23:11] #176 closed

[2016-07-12 23:18] theofidry commented on #418
Sorry @tloeffler I couldn't find much time to look into it. From what I see in the Doctrine bridge of alice, we are doing `persist()` and `flush()` but never a `clear()`. So it would make sense that the Doctrine manager keeps the references of the loaded objects after loading, which in your case cause a problem.

An easy fix would be to add a `clear()` method to `PersistenceInterface` and do a cle

[2016-07-12 23:45] theofidry commented on #357
Ok I see where the issue comes from now. In v2, it is assumed that all your objects are getting persisted, they will be referenced by the persister (here the Doctrine manager) and leave that `find()` to the persister.

Now there is two exceptions for that:

- Embeddables objects (marked as embeddables, supported only since 2.2.0)
- local objects (your case)

One way to solve it IMO is to create a

[2016-07-13 09:12] Soullivaneuh commented on #421
@theofidry This is now what I have using `nelmio/alice` dev-master and https://github.com/hautelook/AliceBundle/pull/238:

[code]

[2016-07-13 09:13] theofidry commented on #357
As shown in #427, this has been resolved in 2.2.0 :)

[2016-07-13 09:17] #357 closed

[2016-07-13 09:51] egeloen commented on #421
I also dig into this issue. Seems the reference are not resolved before being populated into the object resulting the typehint checker tries to resolve the entity by ID.

[2016-07-13 09:55] theofidry opened #428 "Add a provider for a safe usage of password"
As reported in https://github.com/nelmio/alice/issues/176 and https://github.com/hautelook/AliceBundle/issues/240, Faker password provider may use the character `@` which leads alice to think that there's a reference.

A fix would be to provide a way to escape any string, which could be done in v3 only and should be discussed in #377, another easier way is to create a custom faker provider which r

[2016-07-13 10:01] theofidry commented on #421
Ah, https://github.com/hautelook/AliceBundle/pull/238 is letting this one pass so it doesn't even try to reload it.

[2016-07-13 10:03] theofidry commented on #421
@egeloen do you have a scenario to reproduce it? At that point I'm just guessing what the issue is but have no idea if that's really the problem

[2016-07-13 10:15] egeloen commented on #421
I will give a try to #423 and see if it fixes the issue or not and will come back here.

[2016-07-13 10:18] theofidry commented on #421
Cheers

[2016-07-13 11:58] egeloen commented on #421
@theofidry Unfortunatelly, #423 does not fix the issue. Here my simplified use case:

A user fixture (extending the FOS User):

[code]

A OAuth client (extending the FOS OAuth Server):

[code]

And an access token (extending the FOS OAuth Server):

[code]

When loading these fixtures via https://github.com/hautelook/AliceBundle I got:

[code]

And the stack trace, if it can help:

[code]

[2016-07-13 13:56] matt-usurp commented on #357
Thanks for the hard work!

[2016-07-13 18:33] theofidry commented on #421
I'm afraid you are getting very different errors. Just to confirm, you have both using AliceBundle with `nelmio/alice:2.x-dev` right?

@Soullivaneuh could you please retry without hautelook/AliceBundle#238?

@egeloen I see nothing wrong with your fixtures. It's more like a mapping error of doctrine than alice fault. Maybe what is happening is that you have a `UserInterface` somewhere which alice t

[2016-07-13 21:24] egeloen commented on #421
@theofidry If I use alice 2.1.4 everything is working fine so IMO, it's not a doctrine mapping issue but an alice one for sure.

[2016-07-13 23:23] theofidry commented on #421
@egeloen the problem is that it's clearly not from those fixtures only, but rather about the entities and the doctrine mapping, and that I can't reproduce it either on alice or AliceBundle. Alice doctrine bridge did change in 2.2.0 to support embeddables, so it's not that far fetch to suspect it or the doctrine configuration.

[2016-07-14 09:17] theofidry commented on #421
[2.2.1](https://github.com/nelmio/alice/releases/tag/2.2.1) has been released. I'm aware it's unlikely to solve the problem for all of you, but it still fixes a major BC which solves the problem for most users.

Reviewing the changes of the 2.2.0, the bug you are encountering now (with the 2.2.1), are likely related to Doctrine, to add the support of embeddables. The other changes are mostly addin

[2016-07-15 08:47] Soullivaneuh commented on #421
@theofidry OK I found the problem. This is the hypen (`-`).

This is the concerned fixture file:

[code]

According to #355, hyphens are not allowed anymore.

I see many problems with this one:

1. Hyphens should be allowed IMHO, it produces valid fixture IDs
2. The error is not enough explicit. It says "Entity with ID @puppet_package_www-servers_apache" is not found. It should say before that the

[2016-07-15 09:05] Soullivaneuh opened #429 "Couldn't generate random unique value error on 2.2"
## Environment

Symfony: 2.8.
`nelmio/alice`: 2.2.1
`hautelook/alice-bundle`: 1.3.1
`fzaninotto/faker`: 1.6.0
## Fixtures files:

[code]

[code]
## Related entities

[code]

[code]
## Command and error

[code]

This happens only on 2.2.x version of `nelmio/alice`.

[2016-07-15 09:12] Soullivaneuh commented on #429
The error is solved if I remove the `(unique)` directive. BTW I don't know why it should be here. :-)

Before:

[code]

After:

[code]

So maybe the error is wanted because missing?

In this case, maybe it could be a bit clearer like this:

[code]

Or something like this. What do you think?

[2016-07-15 09:51] theofidry commented on #421
Nice one on finding it @Soullivaneuh!

`@user-1` makes sense, but makes it much harder to detect `@user->name`. As it doesn't take much and is more a matter of state than anything else to use hyphens (`-`) instead of underscores (`_`), this choice has been made. I'm open to add support for it later but it's not a priority... I'm more focused on delivering something functional first.

I'm going to

[2016-07-15 11:00] Soullivaneuh commented on #421
Restoring hyphen should be considered because it's useful for ID namespace
separators for target like user_*.

I'm on my phone right now, I'll give example later.

BTW, it's a BC break so it should not be a question IMO. :-P

Sullivan SENECHAL

Le 15 juil. 2016 11:51, "Théo FIDRY" <notifications@github.com> a écrit :

[2016-07-15 11:02] theofidry commented on #421
@Soullivaneuh you may have misunderstood me: I saying I don't plan to add support for hyphens for v3, at least for the first version. The usage of hyphens for 2.x is accepted, removing it was not intentional and should be restored.

[2016-07-15 15:19] theofidry commented on #429
@Soullivaneuh that's weird, you should get an exception from it: https://github.com/nelmio/alice/blob/2.x/tests/Nelmio/Alice/Fixtures/LoaderTest.php#L1260. I re-tested with the combination of template and co. but I couldn't reproduce your issue.

[2016-07-15 19:47] #421 closed

[2016-07-17 17:23] #187 closed

[2016-07-20 00:31] simshaun opened #436 "Support associative arrays when an addXXXX method exists"
I'm trying to hard-code some data in a couple fixtures, and it doesn't seem like associative arrays are supported when the object has an `add{XXXXX}` method.

[code]

My entity has a convenience method `addProviderData($key, $val)` as well as `setProviderData(array $data)`.

Alice is calling `->addProviderData('123')`, so I think it's dropping the array keys for some reason.

When I remove the `ad

[2016-07-20 08:50] cAstraea commented on #155
Hello , this worked for me
AppBundle\Entity\Speaker:
    speaker_{1..70}:
        contact: '@contacts*'
AppBundle\Entity\Conference:
    conference_{1..100}:
        startat:  <dateTimeThisDecade()>
        comment: <realText(42)>
        place:  '@place*'
        tour: '@tour*'
        sponsor: '@sponsor*'
        diffusion: ['@diffusions*']
        speaker: ['@speaker*']

speaker and diffusion i

[2016-07-21 15:11] hhamon commented on #313
I'm facing the same issue. Do you know when v3 will be released please?

[2016-07-21 15:23] theofidry commented on #313
There is no release date yet sadly. I would expect a couple of weeks before
the first beta release and then in depends on how much issues are reported
and how quick they are solved

On Thursday, 21 July 2016, Hugo Hamon <notifications@github.com> wrote:

[2016-07-21 15:51] hhamon commented on #313
Thanks! I've just made the following ugly workaround while waiting for the upcoming v3.

[code]

And in my PHP class.

[code]

Ugly but works for now...

[2016-07-21 15:53] theofidry commented on #313
@hhamon a more elegant workaround would be to use a [customer setter](https://github.com/nelmio/alice/blob/2.x/doc/complete-reference.md#custom-setter). It's not pretty but wouldn't pollute your model

[2016-07-21 15:55] hhamon commented on #313
Hum thanks, I'll try if it works without breaking my model.

[2016-07-21 16:00] hhamon commented on #313
It doesn't work because keys are not unique!

[2016-07-25 14:51] Mvannes commented on #360
As a workaround for this you could do `<identity($this->valueForCurrent)>`
Which is pretty gross, but it works.
You can also use that like `<identity((int)$this->valueForCurrent)>`  if you want to have your current be an int value instead of a string (for strict functions for example).

[2016-07-25 15:01] Mvannes commented on #360
@theofidry Yeah but by then it should be replaced by something actually working correct? :D
Would v3 also allow for casting the value of current to an int though? Because if not, that's going to make a lot of fixtures fail. I would assume it would if current can simply be used in identity.

[2016-07-25 15:23] theofidry commented on #360
OFC :P

Depends. If you want the right scalar value it's handled by the YAML parser. Otherwise everything in expression is evaluated as strings, but that can be changed by having a scalar typehint with PHP7 provided you're not working with strict mode. If required, developers can easily have a custom provider function to do the cast. Identity works as an eval: it takes an expression and evaluate i

[2016-07-25 21:06] theofidry opened #441 "[Instantiator] Deprecate inaccessible constructors"
The current instantiator works even if the constructor is private or protected. I personally feel like this is hacky as you are not instantiating the objects as they should normally, i.e. potentially create an object in a weird state. Besides, it's by far the most complex case.

Doing it is a legit use case IMO, but I don't think this should be in the core and much less enabled by default. If the

[2016-07-25 22:57] tshelburne commented on #441
Makes sense to me.

[2016-07-31 18:05] theofidry commented on #265
@tshelburne quick update on the new version!

I finished the biggest part of the work which is the implementation for the core classes, i.e. creating the new interfaces, value objects and the interfaces implementations require to make the library work. It is currently functional to the point of instantiating a set of fixtures (no values resolution or random values generated yet although the system

[2016-07-31 20:48] theofidry opened #475 "[Persister] Deprecate persistence layer"

[2016-07-31 20:49] theofidry opened #476 "[Loader] Deprecate loader"
Introduce a new loader with a signature closer to the one provided in v3 to ease the upgrade path.

[2016-08-01 09:28] theofidry opened #477 "[Populator] Deprecate private/protected setters"

[2016-08-01 09:30] theofidry opened #478 "[2.3.0] Add tests for stdClass"
Check for the support for camelCase, snake_case and PascalCase as well.

[2016-08-02 19:14] theofidry opened #483 "[Populator] Deprecate usage of snake case accessors"
PSR-1 compliant code requires methods to be camelCase, so there is no need to support it anymore.

[2016-08-03 09:36] aledeg opened #486 "[Question] multiple value ranges"
I am not sure if the title make any sense. Please rephrase it if needed.
With explanation, it would be easier I think.

I want to create many object for testing within a set of value. I want to create all different contacts were the lastname comes from a list, the firstname and the dob as well.
I would like to write something like:
[code]
This will create 27 Contact objects.

I've seen that I coul

[2016-08-03 10:11] theofidry commented on #486
So I guess you want to create all the possible fixtures with the input you gave is that right?

TL;DR: no.

You somehow have a way to do it, stores this matrix as [a parameter](https://github.com/nelmio/alice/blob/2.x/doc/fixtures-refactoring.md#parameters):

[code]

Then use a custom [Faker data provider](https://github.com/nelmio/alice/blob/2.x/doc/customizing-data-generation.md#custom-faker-dat

[2016-08-03 11:00] theofidry opened #487 "Parse references in quotes"
It seems that this has been added to support the switch to `'@ref'` for the YAML parser but it actually shouldn't be needed. To be checked and see if this feature should be deprecated in 2.x or not.

[code]

[2016-08-03 12:54] aledeg commented on #486
@theofidry Thank you. That makes almost perfect sense. I haven't though of using custom provider and I didn't know about the parameter feature.

I don't understand how ```<pickLastName(<{contact_matrix}>)>``` will work to return the appropriated value. I understand that I have to inject the parameters but how do I know which one I need to return?

[2016-08-03 13:04] theofidry commented on #486
Actually giving it another though a simpler thing would be to make everything in the custom provider: you store the possible values in there and you have a method counter, so that the first call of `pickLastName()` and `pickFirstName()` will return `Roe` and `John`, the second call will return `Roe` and `Jane` and so on... it will not be re-usable, but it will work for this use case.

[2016-08-03 15:37] aledeg commented on #486
I ended up doing what you suggested. It's not really important that it's not reusable for now since it's for a few related tests. If I need something more reusable, I'll rework it.
Thanks

[2016-08-03 15:37] #486 closed

[2016-08-03 16:15] theofidry commented on #486
You're welcome :)

[2016-08-10 19:16] simshaun opened #488 "Random relationship NULL values"
I've got two entities, `Theme` and `StockHeader`. I'm trying to relate a random stock header to each theme. The problem is that when fixtures are loaded, some themes are getting a `NULL` value for stock header. I'd like all themes to have a stock header, so no NULL values.

I've tried changing the DB schema so that the stock header ID column isn't nullable, but then I just get an integrity constra

[2016-08-12 11:48] GrzegorzW opened #489 "Problem with "(unique): <password()>""
Hi,

I have problem with unique password values.

### After tests I get:

UnexpectedValueException: Instance vlLUDSd is not defined

### I have added some var_dumps in \Nelmio\Alice\Instances\Processor\Processor:
### Result:

#### $valueOrProcessable:

  ["name":"Nelmio\Alice\Fixtures\PropertyDefinition":private]=>
  string(7) "temp_pw"
  ["nameFlags":"Nelmio\Alice\Fixtures\PropertyDefinition":pri

[2016-08-14 11:41] thedamnedrhino opened #490 "Deprecation of `$fake`"
In the [Docs](https://github.com/nelmio/alice/blob/2.x/doc/customizing-data-generation.md) it states that using the `$fake` closure is deprecated. So how is it possible to nest Faker Calls?

[2016-08-18 10:45] theofidry commented on #490
Just use data providers instead. The reason why this has been deprecated is because there is a lot of cases with other more advanced features provided where this would not work well.

[2016-08-18 10:46] theofidry commented on #489
Duplicate of https://github.com/nelmio/alice/issues/428. The issue is that the generated password has a `@` which will make alice think this will be a reference.

[2016-08-18 10:46] #489 closed

[2016-08-18 10:51] theofidry commented on #488
Hm weird. I wouldn't expect `'@stock-header_*'` to `null` at all but to give a random reference. @tshelburne could you confirm that this would be the expected behaviour of the `*` operator (i.e. no `null`?)

[2016-08-18 15:51] tshelburne commented on #488
@theofidry Yes, this should definitely work as you described.

[2016-08-19 11:48] loostro opened #491 "Include range array"
Hi,

I have a situation where I would like to do:

[code]

However my list `User, Admin, SuperAdmin` is super long, about 100 entries.

Is it possible to use a provider function to provide range arguments?

Something like:

[code]

[code]

[2016-08-21 07:55] theofidry commented on #491
I'm not really fond of the idea to be honest. If `rolesList()` was dynamic, this would cause problems in v3 because you have two steps: generating the list of fixtures and generating the objects described by fixtures. The result of the first step should be static to be cacheable, with your approach this would no longer be true without talking of the complexity it may bring.

An easy alternative fo

[2016-08-22 09:42] thedamnedrhino opened #492 "How to do arithmetic"
I'm trying to do some basic arithmetic, using things like `<current() * 10>`, but I only get `0` as result. Actually `0` is what's saved in the database so that might return `null`. So how is it possible to do basic arithmetic Operations in the Fixtures?

[2016-08-22 09:46] thedamnedrhino commented on #490
Creating [custom Data Providers](https://github.com/nelmio/alice/blob/2.x/doc/customizing-data-generation.md#custom-faker-data-providers) for a simple Nested call seems a little overkill for me. Are nested providers going to be implemented in the near Future?

[2016-08-22 12:37] theofidry commented on #490
To some extend. There is some cases where the lexer and parser can't handle
in v3 but it should cover most of the use cases. It's not my main focus for
v3 to be honest, but the system in v3 will at least allow to enhance it
later on if someone is ready to work on it.

On Monday, 22 August 2016, thedamnedrhino <notifications@github.com> wrote:

[2016-08-24 10:57] theofidry opened #494 "Optional values with floats"
I found the following test:

[code]

From the look of it, instead of having a percentage like `80%? something : nothing`, you can instead use a float value i.e. `0.8? something : nothing`. I did not find any occurrence of this feature in the doc.

As this feature has not been documented and it is a bit redundant, what do you think of deprecating it @tshelburne?

[2016-08-24 11:03] theofidry commented on #492
`<something()`>  is the notation for calling the function `something`, so `<current() * 10>` will not work and should even throw an error IMO. I am not sure why this is not the case in 2.x but it will throw an error for sure in 3.x.

To achieve what you want to do, you need to have a custom function to do the operations. It is a bit inconvenient and might be something to enhance in the future.

[2016-08-24 11:58] theofidry opened #495 "Deprecate string datetimes support"
Looking at the TypehintChecker, it allows us to do two things:

- transforming string dates to dates
- looking for an existing instance (via the persister)

There is three reasons why I think we could remove it:

1. The first point, which is the most useful and common IMO, could be done with a provider instead
2. The second point should not be needed as if you use `@dummy`, you will get an instanc

[2016-08-24 12:45] tshelburne commented on #494
I think we should deprecate - not only is it documented, but the intention is much less clear.

[2016-08-24 12:49] tshelburne commented on #495
I can't remember and don't have a moment to dig in right now, but I thought the type hint checker was about instantiating an instance properly via constructor arguments before setting all the props. Might be completely mistaken.

As far as the BC problem, what exactly does it necessarily break? Without digging in, this seems like an "internals" question, not a library interface question.

[2016-08-24 13:02] theofidry commented on #495
No you are right except that it also applies to setters. In both cases, it involves check that the value set matches the typehint. The most common use case is for dates:

[code]

Right now you can do the following:

[code]

Without any change, this won't work in 3.x because the setter `setCreationDate()` expects a `\DateTime` object. This works in 2.x thanks to the typehint checker right now, henc

[2016-08-24 13:42] tshelburne commented on #495
Ah, I see. Personally, I don't think it should be Alice's responsibility to turn what reads as a string into a date time object - that's what Faker is for. I'm not opposed to leaving it in there, but it does seem like a high price to pay for a feature that is only arguably useful.

I think we should introduce an official migration path to use `creationDate: <date('2012-01-05')>`, or something like

[2016-08-24 13:50] theofidry commented on #495
True, there is already https://github.com/fzaninotto/Faker#fakerproviderdatetime. So we agree to deprecate it in 2.x and remove it for 3.x?

[2016-08-24 14:07] tshelburne commented on #495
Yes

[2016-08-25 18:01] theofidry opened #498 "Deprecate evaluated arguments"
While porting the tests from v2 to v3, I've encountered the following test:

[code]

This test is giving me a lot of trouble: it is hard to image how the string `"yest"."erday", strrev("omot")."rrow"'` show be magically evaluated in `"yesterday", "tomorrow"'.

This is "doable" only if each function argument is evaluated. However the strategy in v3 is slightly different: we have a lexer and a parse

[2016-08-25 18:14] tshelburne commented on #498
I think that works, though it introduces a lot of extra complexity - it feels like those kinds of specific needs should really be handled with custom providers or custom parsers (if we are allowing registration of custom parsers). I'm not against the approach if you want to support it, but it seems like overdoing things to me. I imagine there are use-cases out there, but IMO, that's too much logic

[2016-08-25 18:18] theofidry commented on #498
I feel the same, but well that was a supported feature in v2...

Easier than ever ;)

Then are you ok to drop it for now and decide on what to do with this one after the first beta? It will either be: A) I find an easy way to support things like `'<f(<g($baz, $faz)>, $arg)>'` in which case the migration path is really easy, B) I don't find one and this feature will be completely deprecated in favo

[2016-08-25 18:48] tshelburne commented on #498
I think it makes sense either way - perhaps hammer on it a bit to see if you get it working quickly, and if not, just create a ticket in GH to consider adding it back in where users can voice their opinions.

[2016-08-28 12:01] theofidry opened #502 "Case of self-referencing fixtures"
Example:

[code]

This, in 2.x, will somehow works. Because in 2.x, all the fixtures are first instantiated and then populated, so `@dummy*` will always find a match. There is however two problems with that:

- if `relatedDummy` is no longer set via a setter but in the constructor, this will fail as no instance matching `@dummy*` will be found:

[code]

- if `Dummy` is there is immutability involv

[2016-08-28 14:28] tshelburne commented on #502
I don't think we can drop support for it altogether - that would be taking a pretty aggressive stance on what we feel is an acceptable object structure. So, given that, we can either come up with a new syntax / suggested approach for dealing with it (something like a second-pass reconciliation step) or we can engineer to make it work. I lean towards making it work in the cases it has been working,

[2016-08-29 17:18] theofidry commented on #502
After sleeping on it, it's clear that this is the way that makes more sense. There is only one scenario I can think of where it would fail, it would be the one where an entity has a clone in a setter. I have no easy way to detect that, but I think it is fair to not expect alice to handle this case. Maybe in the future, we can add a flag to specify that entity X should be generated in one go to avo

[2016-08-30 09:45] #502 closed

[2016-08-31 15:29] theofidry opened #512 "Deprecate DSL syntax in identity"
I can see from a test that we support:

[code]

The issue I'm having with it is how much do we support in those expressions? It is quite easy for the identity function to have access to the *scope*:

[code]

As this is plain PHP. However the first example is a different matter. Because we need to parses strings, we can't really accept *anything*, supporting all the DSL features + bits of PHP would

[2016-08-31 15:43] tshelburne commented on #512
Could you just parse the statement and turn it into PHP - effectively:

[code]

[2016-08-31 15:50] theofidry opened #513 "4th resolution step"
[From the documentation](https://github.com/nelmio/alice/blob/master/doc/customizing-data-generation.md#reuse-generated-data-using-objects-value):

So from my understanding, the `local` flag was used to handle embeddables. However now:
- We are removing the persistence layer in 3.x so there is no need for that anymore
- in 2.x provided you are using Doctrine 2.5+, the handling of embeddables is do

[2016-08-31 15:57] theofidry commented on #512
I had an idea along those lines if we wanted to support the fixture references in the identity expressions. But:

1. I would call it a "compromise", because as for access to the variables, this is something very useful but that doesn't bring much complexity and relatively easy to handle (little risk of syntax conflicts, it feels relatively natural)
2. If we were to do that there would still be a d

[2016-08-31 16:09] tshelburne commented on #512
That makes sense to me - I agree with your previous statement, anything more should be its own provider. Then the onus is on us to ensure provider registration is clean and simple.

[2016-08-31 16:12] tshelburne commented on #513
Since the local flag isn't particularly useful now, I don't see any reason to take this step at this point in time. If you feel like there's some knowledge that would be difficult to return to later, if or when we needed to add a 4th step, I would memorialize it in either documentation or in a ticket to be discussed in the community. No reason to complicate things now.

[2016-08-31 16:21] theofidry commented on #513
Let's keep this issue in the backlog then and consider to add it only if we see a use case. We still have time before a stable release.

[2016-08-31 16:22] theofidry opened #514 "Deprecate local flag"
See discussion in https://github.com/nelmio/alice/issues/513

[2016-09-01 12:27] theofidry opened #516 "Usage of the `@` character"
In v2, you can freely use the `@` character in a string: `example@email.com`. However this is not conform to the [DSL spec](https://github.com/nelmio/alice/issues/377) as it should be escaped instead (`example\@email.com`). The lazy way would be to deprecate it in v3 and change nothing in v3 (i.e. will break as won't be able to find the fixture `@email.com`. However this is a common usage and I th

[2016-09-01 13:35] tomaszpolska opened #517 "How to set the same value for more than one field?"
[code]

How to set _enabled_ field to hold the same value as _emailConfirmed_ field. In other words - how to reference other field value in the same entity?

[2016-09-01 17:25] theofidry commented on #516
Yeah in the case where `@` is preceded by a non space string like `a@`.

If we were to do that we would need to apply the same for variables. But I think throwing an exception makes it easier to spot than a warning.

[2016-09-01 17:30] tshelburne commented on #516
I'm fine with that - if it becomes a pain point for users, we can revisit.

[2016-09-01 17:33] theofidry commented on #517
[According to the doc](https://github.com/nelmio/alice/blob/master/doc/fixtures-refactoring.md#variables):

[code]

In the case of the second example, the difference is that it will try to retrieve the value via getter so the actual value might be different if you have a setter that changes your data.

[2016-09-01 20:23] simshaun commented on #488
This ended up being my fault, not a bug. Sorry!

[2016-09-01 20:23] #488 closed

[2016-09-01 20:48] theofidry commented on #488
Glad to hear it :)

[2016-09-01 23:10] simshaun opened #520 "Unable to pass references to provider when reference name contains a dash"
I created a new provider that turns an array into a Doctrine ArrayCollection.

While the dash in the reference name is fine if I'm simply setting a plain array on a property, it causes problems when Alice tries to pass a reference to a data provider.

[code]

`Instances\Processor\Methods\Faker::replacePlaceholder` is converting that the arguments in to:

[code]

It looks like the `$args` regex in

[2016-09-01 23:37] theofidry commented on #520
Dashes are not supported. In 2.x they are not throwing an exception as it was not the case before, but they don't work very well in some cases (like yours). This is why [it has been deprecated](https://github.com/nelmio/alice/blob/master/doc/relations-handling.md#references) and will throw an exception in 3.x. If you log your PHP deprecation notices, you should see a message about it provided you

[2016-09-01 23:37] #520 closed

[2016-09-01 23:38] theofidry commented on #517
Closing the issue, if you still have a question or an issue feel free to ask them or open a new issue.

[2016-09-01 23:38] #517 closed

[2016-09-01 23:42] simshaun commented on #520
Ah, ok. Back to camelcase I go!

[2016-09-02 07:14] tomaszpolska commented on #517
I've tried the two before asking here and none worked. _Enabled_ has always value of 1 while 20% of _emailConfirmed_ values are 0. What more `enabled: @self->emailConfirmed` is causing an exception:
[code]
It should be `enabled: '@self->emailConfirmed'` but still it has value of 1 in all rows. Both fields are mysql tinyint(1) type.

[2016-09-02 07:35] tomaszpolska commented on #517
My fault. It works now. Thanks for for the hint @theofidry!

[2016-09-03 19:54] loostro commented on #491
I don't need `rolesList` to be dynamic. Thanks for the alternative you posted. I think it will do for my purposes.

[2016-09-03 19:54] #491 closed

[2016-09-04 20:43] theofidry opened #528 "[2.x] Remove support for stdClass"
Revert #425 as it adds a new model that has not point existing in v3, so either the support should either be added properly or this feature removed.

[2016-09-04 22:25] theofidry commented on #124
After taking a look at this, there is not much we can do on our side: it's either PHPCR that must use a different strategy to generate the IDs or Faker, nothing can be done at alice lever to fix that. For that reason, I'll be closing this 2yo issue and if someone still have an issue with it they should be able to find it still :)

[2016-09-04 22:25] #124 closed

[2016-09-04 22:27] theofidry commented on #265
Now that everything is clear, I think we can close this issue. I still have a couple of things to fix before the first beta, but the next issues should have a dedicated issue rather than continuing on this long story.

[2016-09-04 22:28] #377 closed

[2016-09-04 22:39] theofidry commented on #191
After looking a bit into it I see no easy way to fix it in v2, but this has been fixed in v3.

[2016-09-04 22:39] #191 closed

[2016-09-04 22:58] theofidry commented on #249
Closing this one as a duplicate of #388

[2016-09-04 22:58] #249 closed

[2016-09-04 23:01] theofidry commented on #257
Solved in 3.x and left as an implementation limitation in 2.x.

As said the problem can be mitigated in 2.x by having a custom Loader, but as alice loader is meant to be used as something to get started with and not something we want to make extendable and integration more features to, it's out of alice scope.

[2016-09-04 23:01] #257 closed

[2016-09-04 23:01] #265 closed

[2016-09-04 23:01] theofidry commented on #271
ping @Soullivaneuh

[2016-09-04 23:03] theofidry commented on #313
Closing in favour of #388.

I would expect this bit to be implemented this weak, it will either go in the first beta version (expected at the end of next week) or the second one.

[2016-09-04 23:03] #313 closed

[2016-09-04 23:05] theofidry commented on #318
Closing as I don't think we should add any more step to it and is not relevant in v3. Ping me if I missed something though.

[2016-09-04 23:05] #318 closed

[2016-09-04 23:06] #387 closed

[2016-09-04 23:08] #418 closed

[2016-09-05 22:35] theofidry commented on #265
Not sure where's the best place to put that putting it here.

I've run a quick benchmark on alice:

- [2.x blackfire profiling](https://blackfire.io/profiles/cdaa1215-b777-46b0-9a87-fece7031e289/graph)
- [3.x blackfire profiling](https://blackfire.io/profiles/296b3ded-7860-4ea3-bcd1-cb3b80cf1b9f/graph)

The end result is roughly the same (-0.5% faster in 3.x) which is a very good news as, unlike i

[2016-09-06 00:44] tshelburne commented on #265
@theofidry Excellent news!

[2016-09-06 10:20] aledeg opened #539 "Add support for steps with ranges"
It could be neat to use the range with steps. For instance, to create 5 different users:

[code]

It could be neat to use the range in reverse. For instance:

[code]

Those feature would be really handy with templates. The first one to get cyclic data. The second one to save current values in reverse.

[2016-09-06 11:53] theofidry commented on #539
Regarding the first one I find the syntax a bit confusing, maybe:

[code]

As for the later one this syntax is already allowed, but as the order does not matter it makes no difference to have `User1` first or `User10`.

[2016-09-06 14:21] aledeg commented on #539
This is the [bash increment brace expansion feature syntax](http://wiki.bash-hackers.org/syntax/expansion/brace#increment). But I am ok with any syntax.
If I can find some time, I'll try to send a PR.

I agree that on the data level it makes no differences but on the database level it makes a difference. The natural order of the database will send me the first inserted record. In my example, I was

[2016-09-08 07:39] theofidry opened #543 "Reference escaping"
Right now the ExpressionLanguage escapes `@` by doubling it i.e. `@@` and the same for `$`. It's already possible to escape in v2  (`\@`) and should be the same for variables, so the doubling `@@` and `$$` should be changed to `\@` and `\$` to avoid an unneeded BC break.

[2016-09-08 13:47] PWalkow opened #545 "Uniqueness enforced in constructor parameters"
Currently I have an entity provided by the entry in *.yml file:
[code]

As you can see the constructor is requiring string to be specified as an argument. I've tried plenty of ways but none seems to work. How I can enforce it to be unique value for each of the example entities? There is no example of it in the docs.

[2016-09-09 19:02] clemf opened #546 "Better example of how current() works in documentation?"
I've been having a lot of trouble with how current() works, and am confused by the example in the docs:

[code]

Is User supposed to be `user{1..10}`? I think having that part of the example would make it less confusing.

[2016-09-09 22:15] theofidry commented on #546
`@something` is a reference to a fixture with the ID `something`. However this `something` can be dynamic, i.e. if `<current()>` returns `10` then `@user<current()>` results in `@user10`. Also there's the `*` operator to apply a mask, e.g. `@user*` will pick a random fixture with an ID matching this mask.

As a rule `<current()>` works in "collections":

[code]

Does that clear up your confusion?

[2016-09-09 22:18] theofidry commented on #545
[This will be supported in v3](https://github.com/nelmio/alice/pull/544/files#diff-1338146ac74b0c166970df57bfa778beR207) but you won't get it work in 2.x and I don't think I'll spend time on back porting this feature either.

As of now the v3 kind of works, I'm in the middle of solving some edge cases but the first beta should come out soon (early or in the middle of next week).

[2016-09-10 10:53] theofidry commented on #543
The full list if escaped values right now:

- arrows: `<<` => `<` and `>>` => `>` as a result:
  - parameters: `<<{param}>>` => `<{param}>`
  - functions: `<<foo()>>` => `<foo()>`
- array: `[[X]]` => `[X]`
- reference: `@@` => `@`
- variable: `$$` => `$`

Looking at it as a whole this notation makes more sense to me and I'm less sure on how to apply the `\` for the other, @tshelburne WDYT?

[2016-09-10 13:00] tshelburne commented on #543
I agree with your first statement, that the escape character should be `\`, in all cases. Admittedly, there's something nice in the doubled chars for the "surrounding" stuff, but everyone is used to the backslash escape in strings. I vote keep it simple and expected.

[2016-09-10 13:03] theofidry commented on #543
I'm fine with keeping the `\`, but I just don't know how it should be applied for the other things :/

[2016-09-10 17:56] tshelburne commented on #543
I must be missing something - shouldn't it work for all circumstances?

[2016-09-11 12:29] PWalkow commented on #545
Thanks, I'll try to update version to v3. Hopefully there will be no big issues with that.

[2016-09-11 14:16] theofidry commented on #545
I recommend you to wait for the first beta release for that but otherwise I
hope the upgrade will go smoothly :)

On Sunday, 11 September 2016, PWalkow <notifications@github.com> wrote:

[2016-09-12 18:23] clemf commented on #546
Hi @theofidry,

That does help! I didn't realize `current()` references the name/id of the Entity it's called within. I thought it was referencing the `@` entity name/id somehow.

[2016-09-12 18:23] #546 closed

[2016-09-12 18:46] theofidry commented on #546
No that is `@self` :)

[2016-09-13 12:27] hiefman opened #547 "Composite Key generation"
Correct me if I'm wrong, but as far as I understand this is not possible at the moment to populate a table having composite keys. Image the following table:

[code]

For testing purposes I need a small set of predefined tag_keys (an array with ~20 - 30 items) which shall be assigned to a node (~0 - size of tag array per node).

I would need a generator which takes care of the uniqueness of the com

[2016-09-13 12:50] theofidry commented on #547
There is nothing built in to handle that, but it's still perfectly doable by using [custom providers](https://github.com/nelmio/alice/blob/2.x/doc/customizing-data-generation.md#custom-faker-data-providers. You can pass to it the list of available keys and the ID got to return a random key. If you need uniqueness, you can make store the generated values in your provider to ensure the random value

[2016-09-13 12:55] hiefman commented on #547
Ah great, I'll have a look on that. Thx alot!

[2016-09-13 15:42] Soullivaneuh commented on #495
This produce a **random** `DateTime` instance. For `2012-01-05` on your example, it's a fixed date.

This is not the same, is this?

[2016-09-13 15:56] theofidry commented on #495
true, but you can always do `<(new \DateTimeImmutable('2012-01-05'))>`

[2016-09-13 22:07] #545 closed

[2016-09-13 22:17] theofidry commented on #539
I'm not sure to understand the problem, if the order is important, then it should be re-ordered. It is extremely difficult to guarantee the order and there is several issues:

- how do you deal with injected objects, should they come first or after?
- the generation order is not the same as the declaration order, some objects requires other objects to be instantiated first
- there is several exten

[2016-09-13 23:59] #543 closed

[2016-09-14 22:59] theofidry commented on #490
It is worth noting that in v3 nested calls are supported, e.g. `<foo(<bar())>` will work perfectly fine, mitigating greatly this issue.

[2016-09-14 22:59] #490 closed

[2016-09-14 23:01] theofidry commented on #172
After some consideration, it would still be a change of behaviour. This change has landed in 3.x, but I would rather be in favour of deprecating this behaviour in 2.x rather than changing it like that.

[2016-09-14 23:07] theofidry commented on #233
This is now possible by using the Expression Language Parser (`NativeLoader:: getBuiltInExpressionLanguageParser()` or the `nelmio_alice.fixture_builder.expression_language.parser` service).

[2016-09-14 23:07] #233 closed

[2016-09-14 23:18] theofidry commented on #251
@Soullivaneuh btw why you don't want to create a dedicated fixture for it again? For the ease of use?

The only difficulty I may see with that is figuring out how to create you `AppBundle\Entity\TaxVal` entity. One way to do it would be to add a custom `Denormalizer` (which is responsible for transforming the parsed data of your files into a comprehensible set of fixtures) to detect such inlined e

[2016-09-14 23:20] theofidry commented on #281
Looking again at this, I think this is just a parsing issue in 2.x. It's quite this kind of bug that are hard to spot and fix in 2.x due to the inexistence of a proper parser/lexer to handle this task. This should however definitely work on 3.x.

If you have found a fix in 2.x I would gladly accept it, otherwise it will be kept as fixed in 3.x only.

[2016-09-14 23:20] #281 closed

[2016-09-14 23:33] theofidry commented on #298
This change in the behaviour of `(unique)` has been landed in 3.x. Unfortunately, as said in an issue which I can't find right now, I prefer to simply deprecate it in 2.x rather than introducing a BC break (`unique` works with arrays, but it tests the uniqueness against the serialized value of the array, which is what you want).

[2016-09-14 23:33] #298 closed

[2016-09-14 23:40] theofidry commented on #420
Actually turns out that this is much more tricky than expected. The only way I can see to fix this issue in 3.x would be to iterate over all the fixtures before creating any of them to detect such name conflicts. This can be easily done but I'm not sure if it's worth it, especially if the user loads one file after another: in case of conflicts, the existing object is overridden by the new one and

[2016-09-14 23:40] #420 closed

[2016-09-14 23:41] theofidry commented on #478
Closing as this won't be part of Alice 2.x.

[2016-09-14 23:41] #478 closed

[2016-09-14 23:44] theofidry commented on #492
Update on the issue, this is easily doable by using the identity function: `<(10 * 5)>`. The only limitations are that the identity function only knows about references and variables: `<(@user->favoriteNumber * $current)>` (the `<current()>` is accessible via the `$current` variable).

[2016-09-14 23:44] #492 closed

[2016-09-14 23:47] theofidry commented on #498
Nested function support has been added in 3.x, so the correct way to write `'<dateTimeBetween("yest"."erday", strrev("omot")."rrow")>'` in 3.x is `'<dateTimeBetween(<("yest"."erday")>, <(strrev("omot")."rrow")>)>'`.

The only part left then is deprecating this behaviour in 2.x but I'm honestly lost at how to do that... It might be better to just document it. The user will have an exception right a

[2016-09-14 23:49] theofidry commented on #360
Update: this has been fixed in 3.x so your original example will work in it.

[2016-09-14 23:49] #360 closed

[2016-09-14 23:50] theofidry commented on #415
Closing this now. If you still feel the need for it, feel free to open a new issue for it.

[2016-09-14 23:50] #415 closed

[2016-09-14 23:55] theofidry commented on #285
I tagged thinking this could be a thing to watch for in 3.x, however objects can be injected when loading a file or data (both in 2.x and 3.x) and I'm not sure to really see the use case of having something more.

As it's a fairly old issue, I prefer to leave it as that. If you or someone still feel about it, please open a new issue to have a fresh discussion on that topic.

[2016-09-14 23:55] #285 closed

[2016-09-15 03:38] tshelburne commented on #420
@theofidry Instead of iterating, why not just check for existence at the time when you add the new instance to the list?

[2016-09-15 03:40] tshelburne commented on #498
Yea, just add it to the upgrade notes.

[2016-09-15 03:45] tshelburne commented on #251
I agree w/ @theofidry - I think if we can find a middle road for a more friendly "inline" syntax that could be valuable, but I don't think we can make assumptions about reference types b/c we aren't tying the library to Doctrine (or to annotations in general). I'm not opposed to the suggestion @theofidry had, or something similar.

[2016-09-15 03:47] tshelburne commented on #251
Or, what about just inline PHP:

[code]

@theofidry Not sure my syntax is correct.

[2016-09-15 08:48] theofidry commented on #420
Because as fixture objects are immutable I re-create them several times, so
I have no easy way to tell if the previous one is the same one (no
conflict) or a new one (conflicts) :/

On Thursday, 15 September 2016, Tim Shelburne <notifications@github.com>
wrote:

[2016-09-15 11:07] theofidry commented on #514
Closed via #557

[2016-09-15 11:07] #514 closed

[2016-09-15 11:26] theofidry commented on #495
Closed via #559

[2016-09-15 11:26] #495 closed

[2016-09-15 11:40] theofidry commented on #512
Closed via #560

[2016-09-15 11:40] #512 closed

[2016-09-15 11:48] theofidry commented on #528
Closed via #562

[2016-09-15 11:48] #528 closed

[2016-09-15 12:00] theofidry commented on #498
Closed via #563

[2016-09-15 12:00] #498 closed

[2016-09-15 13:59] theofidry commented on #487
Closed via #566

[2016-09-15 13:59] #487 closed

[2016-09-15 14:00] theofidry commented on #494
Closed via #564

[2016-09-15 14:00] #494 closed

[2016-09-20 10:30] karser opened #568 "[v3] "foo@bar.com" throws an error: Could not find the object "bar.com" of the class """
How to specify email in fixtures? I tried single quotes, double quotes, foo@@bar.com - no luck.

My fixtures:
[code]

This error is for beta.0 and master. It tries to find reference "@bar.com":
![image](https://cloud.githubusercontent.com/assets/1675033/18666671/c852ba6a-7f35-11e6-9f20-a57742ad633b.png)

The whole stack trace:
[code]

[2016-09-20 10:31] karser commented on #516
How to use emails in 3.x? https://github.com/nelmio/alice/issues/568

[2016-09-20 10:41] theofidry commented on #568
I need to update the RFC, the escaping is done by using the backslash (`\`), i.e. `foo\@bar.com` should work.

Further discussion should be done in #516 :)

[2016-09-20 10:41] #568 closed

[2016-09-20 10:43] theofidry commented on #516
@karser I updated the issue description (it's `\@` not `@@`), but I have yet to add the ability to automatically escape the `@` character in a string.

[2016-09-20 11:43] karser commented on #516
thanks @theofidry, this seems to be working

[2016-09-23 12:22] mcjwb opened #569 "v3 - HTML code in fixtures"
Hi,
Is there a way to allow HTML in fixtures (or disable the lexer for certain fixtures)?
On my first attempt I got the error:
`PHP Fatal error:  Uncaught Nelmio\Alice\Exception\FixtureBuilder\ExpressionLanguage\LexException: Could not lex the value...`
Then on a simplified test case I got the error:

[code]

Thanks,
Joe

[2016-09-23 12:50] theofidry commented on #569
Yes, unless I missed something, your HTML is a simple string, so you could have a simple [Faker provider](https://github.com/nelmio/alice/blob/master/doc/customizing-data-generation.md#custom-faker-data-providers) with an `escape` function that could return the string unchanged, e.g.:

[code]

Your functions are parsed by [FunctionTokenParser](https://github.com/nelmio/alice/blob/master/src/Fixtur

[2016-09-23 14:41] tshelburne commented on #569
I think native `escape` makes a lot of sense.

[2016-09-23 15:24] theofidry commented on #569
@tshelburne with or without a proper extension point?

[2016-09-23 16:57] theofidry opened #570 "Dynamic array quantifier"
`InvalidArgumentException: Expected quantifier to be an integer superior or equal to 2. Got "1" for "user7", check you dynamic arrays declarations (e.g. "<numberBetween(1, 2)>x @user*").`

This is actually a perfect valid value, and `0` should also be accepted as if the value is generated from a function or other, it makes sense to have an empty array or an array of 1 value.

[2016-09-23 21:01] tshelburne commented on #569
I don't think we need to offer the extension yet - `escape` is common enough that it should be in the library, and we can keep the interface simple until it's really needed. Did you have other use-cases in mind for custom parsing? That seems like a pretty deep dependency.

[2016-09-23 21:04] theofidry commented on #569
Maybe extending the identity parsing. Not convinced though

On Friday, 23 September 2016, Tim Shelburne <notifications@github.com>
wrote:

[2016-09-26 08:19] mcjwb commented on #569
Thanks for getting back to me so soon.
It seems to me that a native escape function would be a good idea, I'd guess it'd have a reasonably common use case.
I'll give the custom faker provider a go in the meantime.

[2016-10-11 13:10] napestershine opened #574 "How can I have an auto increment id or field in yml file?"

[2016-10-11 14:51] napestershine opened #575 "Expected value of type "AdminBundle\Entity\Category" for association field "AdminBundle\Entity\Product#$category", got "integer" instead"
I am using nelmio alice bundle for doctrine fixtures
I have category and product entity
and I have generated 10 category with it
it's successful
now I want to generate random product data
but mapping of many to one from category to product is showing error
[Doctrine\ORM\ORMInvalidArgumentException]
Expected value of type "AdminBundle\Entity\Category" for association field "AdminBundle\Entity\Produ

[2016-10-12 21:48] theofidry commented on #574
You have several options:

- let your ORM do it when you are persisting your entities (2.x or 3.x it won't change, the only difference is that the ORM integration is no longer done in alice 3.x but you have libraries like https://github.com/theofidry/AliceDataFixtures to do it instead)
- create the ID at instantiation time: alice uses (and you can change it) your constructor so you can do it there

[2016-10-12 21:50] theofidry commented on #575
The error looks pretty straightforward to me, you are setting an integer to `Product#category` [here](https://gist.github.com/napestershine/6ab83cf276ec63dd9a7c31d47359ee13#file-fixtures-yml-L16) where I guess you expect a Category instead instead, so you could use `@category*` for example (depends on your objects behind).

[2016-10-24 09:49] excentrik opened #577 "Doctrine ReferenceOne and Alice"
First a quick description of my use case.

I have a Review class that follows the schema:
[code]
And I create fixtures with:
[code]

The loading is done with a `DataFaker` class:
[code]
[code]

Now, the issue is that when trying to load the fixtures, I get a
`The class 'MongoId' was not found in the chain configured namespaces UserBundle\Document, ReviewBundle\Document``

But if I replace the `ref

[2016-10-24 11:17] theofidry commented on #577
I can guess it's a mapping issue, as Doctrine ODM don't know who to store a `\MongoId` document, but unfortunately I'm not familiar enough with Doctrine ODM to know how to fix it. That said, it's a problem with your persistence layer and your objects, not alice. It will fail all the same if you were to do it manually.

[2016-10-24 11:17] #577 closed

[2016-10-25 10:43] theofidry commented on #575
@napestershine did that solve your issue?

[2016-10-25 10:44] #574 closed

[2016-10-25 16:17] napestershine commented on #575
@theofidry  yes thanks :)

[2016-10-25 16:17] #575 closed

[2016-10-26 09:14] appeltaert opened #578 "How do you handle entities that hold 2 references to another entity?"
To use my scenario as an example:

`Company` has many `Medium`, `Medium` is the owning side, so `Medium` is created with a reference to `Company`, so far so good.

Now `Company` also has a relation to a `Medium` entity for it's logo.. As far as i can tell this isn't possible without dropping the constraint `Medium -> Company` and then something like:

[code]

Haven't even tested if these changes a

[2016-10-26 09:20] appeltaert commented on #578
If it's not possible and a welcome addition, i can work on that.

[2016-10-26 10:21] theofidry commented on #578
@appeltaert just to make sure I understood the problem correctly: you have two types of relations between `Company` and `Medium`, but you can set properly both because of the "accessor limitation", i.e. if you have `setMedium` and `addMedium` each one for a different relation, alice will pick only one. Is that correct?

Assuming the above is correct, in alice 2.x, I would flat out say it's very ha

[2016-10-26 12:03] appeltaert commented on #578
@theofidry should've included some yml :)

It's very simple:

[code]

`Medium` needs a `Company` reference, it owns the relation. But `Company` has a reference to `Medium` for its logo. So the logo needs to be persisted first for its m2o relation to `Company`, but then there's also a o2o relation from `Company` to `Medium` for its logo.

Can i cover this with the 2.0 beta of the bundle?

[2016-10-26 12:10] theofidry commented on #578
[code]

Should do the trick.

AFAIK Doctrine ORM handles such cases. I think you can cover this case with both HautelookAliceBundle 1.x and 2.x.

[2016-10-26 12:14] appeltaert commented on #578
I guess i could fix it indeed with an additional setter on `Medium` using the 'after population step' from 3.0:

[code]

[code]

Would this flush() the changes in the company reference though?

Don't like it though since it needs a public setter just for fixtures loading. Is it possible to call a service or something in the 'after population step'?

[2016-10-26 12:22] theofidry commented on #578
I can't say I don't have your PHP classes :P How would you do it in plain PHP? Also note that if you don't like the idea to add an accessor just for it, you can use the constructor instead (and make use of the `__construct` notation).

This extra step is done before any persistence, so yeah.

That's the "configurator" section of the #388, nothing decided yet at this point.

If you still have doubt

[2016-10-26 12:24] #578 closed

[2016-10-26 12:27] appeltaert commented on #578
Oh man, github needs some sort of real-time awareness of people writing comments :) Anyway, thanks for wasting your time. I'll try to make it up soon contributing on some of the bugs or something

[2016-10-26 12:28] theofidry commented on #578
No worries, any help is welcomed I need feedback for the beta releases ;)

[2016-10-26 14:52] appeltaert opened #579 "(Suggestion) Nested ranges"
I'm currently falling back on PHP alot because of the amount of nested looping i need to do to keep fixtures as dry as possible.

[code]

In YML this currently means:

[code]

Could possibly be written as:

[code]

[2016-10-26 19:00] volneivolff opened #580 "Argument 3 passed to [...] must be of the type array, string given, called in [...] on line 275 and defined."
[Symfony\Component\Debug\Exception\ContextErrorException]
  Catchable Fatal Error: Argument 3 passed to Nelmio\Alice\Fixtures\Builder\Builde
  r::build() must be of the type array, string given, called in C:\CURSOS\symfony\
  symfony_course\vendor\nelmio\alice\src\Nelmio\Alice\Fixtures\Loader.php on line
  275 and defined

[2016-10-27 20:14] robotzero opened #581 "Dynamic faker parameter."
In Alice 2.x branch I could do the following:

[code]

Branch 3.x does not correctly resolve dynamic parameter and resolves it to string. Is this a missing feature or are there plans to implement this into 3.x branch?

[2016-10-27 20:40] theofidry commented on #581
indeed functions can't be called in parameters for now, and I'm not sure if this should be ported or not to be honest, it does complexify a lot the parameters resolution as it's hard to deal with successive function calls `<f()> <g()>` and nested ones `<f(<g()>, <z()>)>`

[2016-10-27 20:43] theofidry commented on #581
An easy workaround would be to have a "dummy" object:

[code]

[2016-10-27 21:23] robotzero commented on #581
Thank you for the awesome workaround @theofidry, wil try it out.

[2016-10-29 01:04] theofidry opened #585 "Check optional data algorithm"
https://travis-ci.org/nelmio/alice/jobs/171549446 hints that the algo is falsy.

[2016-10-30 18:56] theofidry commented on #579
Sorry for the lack of feedback I completely missed the issue. I think that's a cool idea, I don't think I'll have time to work on it but it would be interesting to try to integrate it *before* the stable release, to see if the system is flexible enough for this kind of customization.

[2016-10-30 19:01] theofidry commented on #580
Hey @volneivolff.

I must say I'm not really sure on how to take your issue. There *is* tests for most scenario, if you are encountering such an issue it's not because the library is outright broken (otherwise you would not have 3K+ of daily downloads). So unless you  are willing to provide a bit more context on how you encountered this, I cannot help you.

[2016-10-30 21:27] #516 closed

[2016-10-30 23:20] theofidry opened #594 "Support constructor named properties"
For:

[code]

It would be better if we could do:

[code]

Besides being easier to understand (IMO), it also gives the possibility to re-order the properties. That said this does rely on the name of PHP variable, i.e. the constructor must look like this:

[code]

And changing a variable name _can_ break the fixture code.

@tshelburne WDYT?

[2016-10-31 13:11] appeltaert commented on #579
No prob, i can take a look at it, this or the next week

[2016-10-31 15:48] tshelburne commented on #594
I wouldn't set named values as the only option, especially since PHP is doesn't use keyword arguments, but I'm not against supporting the feature as an addition in principle.

[2016-10-31 15:50] theofidry commented on #594
Yeah removing the support for without it doesn't make sense IMO

[2016-11-02 17:44] AlaeddineMessadi commented on #211
I had this issue before, I think you have a `OnetToMany` relation, if yes
change the setter parameter to array and the getter return to `youEntity[] | ArrayCollection`
then in your fixtures put the data in in an array `[]`

[2016-11-03 14:14] theofidry opened #597 "Casting values"
Besides escaping as mentioned in #569, I believe if would be useful as well to have a cast function:

[code]

This is even more true as we are in PHP7 and with strict types having the wrong type may end to a failure.

@tshelburne any opinion on this?

[2016-11-03 15:55] mpdude opened #598 "Reference pre-existing objects?"
I have a table with some preexisting data which is *not* set up using Alice. More precisely, it's a list of German federal states. A Doctrine entity exists for this table.

Now, I would like to use Alice to create a bunch of "project" entities. For each project, I'd like to set one or several FederalState-Instances as object references.

Is that somehow possible with Alice?

[2016-11-03 16:34] theofidry commented on #598
The answer is yes and no. In `HautelookAliceBundle` you could probably append the fixtures, or you could find a way to, when you load fixtures, get the list of IDs to delete only them after if you want to reload the fixtures. But that may be a bit tedious, another way, which looks easier to me, is to generate fixtures for this existing data, https://github.com/trappar/AliceGenerator may help in th

[2016-11-03 16:45] mpdude commented on #598
I have a POC running with a provider that is based on Doctrine's `EntityManagerInterface::getReference()` method.

So, `<entity_reference("Some\Class\Name", 42)>` will return a Doctrine proxy for that class and object id.

This somewhat changes the question to whether it is possible to nest providers, like in `<entity_reference("\Some\Class", <numberBetween(1,16)>>`?

[2016-11-03 16:50] theofidry commented on #598
In 2.x this is very buggy. This has been solved in 3.x although there is two differences in this regard in 3.x:

- The persistence layer has been removed, so you'll have to look at https://github.com/theofidry/AliceDataFixtures instead
- In the current loaders implementation, the entity manager is cleared so there won't be any reference (you'll have to recreate them)

[2016-11-03 17:00] mpdude commented on #598
What would be the syntax for these nested providers and what are the potential problems in 2.x?

[2016-11-03 17:05] theofidry commented on #598
@mpdude the syntax is exactly the one you gave. The problem in 2.x is that there is no proper lexer/parser so it hard to get things like `<foo($arg1, <bar($arg2)>)>` right. I couldn't figure an easy way to fix and much less without BC breaks, which is one of the reasons why things changed drastically internally in 3.x.

[2016-11-03 17:12] theofidry commented on #598
You can also ping me on the (Gitter) chat (of HautelookAliceBundle) if you want more details

[2016-11-03 17:31] mpdude commented on #598
/ping @xkons

[2016-11-04 00:32] tshelburne commented on #597
What's the benefit of `cast(x, bool)` vs. standard php `(bool) x`? Seems like we can keep it simpler.

[2016-11-04 00:58] theofidry commented on #594
As explained in #599, this actually cannot be done 😢

[2016-11-04 01:12] theofidry commented on #597
`(int) <foo()>` with `foo()` which is potentially a more complex expression and a string integer, i.e. `'100'` instead of `100`, doesn't work. This is something that could be added to the Expression Language but this would make it even more complex and the less I touch it the better whereas using a faker data provider is dead simple and everything is well-oiled.

[2016-11-04 11:45] tshelburne commented on #597
Oh, I was thinking `<(int) foo()>` so that it would more-or-less resemble inline execution. If it makes things more complicated, though, I'm not against a faker instead.

[2016-11-04 11:47] theofidry commented on #597
I agree this does looks cooler, but the very idea of having to touch that part of the code put me off, not that it's poorly implemented or unmaintainable (heck, that's the most tested part of the app), but lexing/parsing is tedious and I don't like regexes :P

[2016-11-04 11:57] theofidry opened #601 "Consider a third-party compiler/lexer"
As mentioned in #600, the current lexer/parser of the Expression Language is completely custom. While it does the job, I can't say I'm very proud of the implementation and it's far from my field of expertise. Relying on a third-party library for that task would make sense, maybe:

- [HoaCompiler](https://github.com/hoaproject/Compiler)
- [Symfony Expression Language](http://symfony.com/doc/current

[2016-11-04 11:59] theofidry commented on #601
@Hywan as the maintainer of the HoaCompiler, WDYT of this choice here, is it something the compiler would be good at?

[2016-11-04 13:08] Hywan commented on #601
Hello and thanks for considering `Hoa\Compiler` 😃!

Analysing a language and compiling it into something else is the essence of `Hoa\Compiler`, so yes. You can write your own grammar thanks to the PP grammar description language ([see an example from the `README.md`](https://github.com/hoaproject/Compiler#the-pp-language)).

The grammar might be minimalist if I am correctly reading your examples.

[2016-11-04 13:24] theofidry commented on #601
Thanks for the detailed answer @Hywan :)

I hope I'll have time to look into this soon. To be completely transparent this part is not exactly my priority now as I have still quite a lot to do for alice, [AliceDataFixtures](https://github.com/theofidry/AliceDataFixtures) and [HautelookAliceBundle](https://github.com/hautelook/AliceBundle). The priority being stabilising the three libraries and easi

[2016-11-04 13:25] Hywan commented on #601
We can if needed. If you play the role of the PO, draft all the issues etc., I am sure we could find time to help :-).

[2016-11-04 13:39] theofidry commented on #601
Hehe I need to update the doc, but otherwise I think for a developer, the best doc is [ParserIntegrationTest](https://github.com/nelmio/alice/blob/master/tests/FixtureBuilder/ExpressionLanguage/Parser/ParserIntegrationTest.php). Anything internally on how to generate this result is internal and can be completely changed.

There is definitely a scenario or two missing, I tried to be as exhaustive a

[2016-11-04 13:46] Hywan commented on #601
@theofidry Where is the grammar defined?

[2016-11-04 13:51] theofidry commented on #601
That's the thing there is no proper grammar system. Basically there's [a lexer](https://github.com/nelmio/alice/tree/master/src/FixtureBuilder/ExpressionLanguage/Lexer) (which has its own share of [tests](https://github.com/nelmio/alice/blob/master/tests/FixtureBuilder/ExpressionLanguage/Lexer/LexerIntegrationTest.php#L174)) which transforms expressions into Tokens like:

[code]

And then the pars

[2016-11-04 13:52] Hywan commented on #601
I see. I guess the users have a documentation with all the possible syntax?

[2016-11-04 13:54] theofidry commented on #601
Yep, #377 which may be slightly outdated right now and [ParserIntegrationTest](https://github.com/nelmio/alice/blob/master/tests/FixtureBuilder/ExpressionLanguage/Parser/ParserIntegrationTest.php). Tests being a big part of the doc here for the better or the worst :/

[2016-11-04 13:56] Hywan commented on #601
Great! I don't have time right now but I will try to find some. Maybe some Hoackers could help me. What's your schedule?

[2016-11-04 14:11] theofidry commented on #601
I hope to have finished most of it by the end of the month. Then it will be a few updates or bugfixes here and there and let it live for 2-3 months before a stable release.

[2016-11-05 11:50] theofidry opened #602 "Update Travis config"
- PHP 7.1
- xdebug removal
- Sf 3.2

[2016-11-07 00:10] #602 closed

[2016-11-07 01:10] theofidry commented on #477
Closed via #607

[2016-11-07 01:10] #477 closed

[2016-11-07 01:12] theofidry commented on #483
Closed via #608

[2016-11-07 01:12] #483 closed

[2016-11-07 01:28] #441 closed

[2016-11-07 01:28] #330 closed

[2016-11-07 01:34] #372 closed

[2016-11-07 01:35] #222 closed

[2016-11-07 01:40] #172 closed

[2016-11-08 22:29] theofidry commented on #202
Regarding the issue of the optional data being triggered when it shouldn't be generated: this has been addressed in 3.x.

About the `50%? true : false`, this is doable although you need to use a function to cast the string value into a boolean. There is a discussion in #597 about integrating it in the core.

[2016-11-08 22:29] #202 closed

[2016-11-08 22:32] theofidry commented on #218
Regarding this issue there is not much that can be done in 2.x. You can see the `Populator` class and its methods classes to check the order in which the setter/adder can be changed. If you want to you can try to add your own method or re-order them although this may be a bit combersome to do.

In 3.x, this part is easier to extend (`Hydrator` which replaces `Populator` are easier to hook) and the

[2016-11-08 22:32] #218 closed

[2016-11-08 22:34] theofidry commented on #325
This issue has been addressed in 3.x, closing as this will not be fixed in 2.x unless someone is willing to provide a patch for it.

[2016-11-08 22:34] #325 closed

[2016-11-08 22:41] theofidry commented on #419
Looking at this again, I don't think we need to change anything in alice core.

If you need your whole output to be in JSON, you can easily transform the collection of objects resulting from the loading via a `json_encode` or the Symfony Serializer. As for needing it within your graph yourself, i.e. having an property that is an entity encoded into a JSON, this can be achieved by a custom faker as

[2016-11-08 22:41] #419 closed

[2016-11-08 22:47] theofidry commented on #539
Edit regarding my last message:

- I'm cool with [this syntax](https://github.com/nelmio/alice/issues/539#issuecomment-244927575)
- If a specific order is required, this should be done after loading the fixtures, either as a hook inside the loader, by decorating the loader or whatever. As the persistence is done *after* anyway, you're free to do whatever you want before the objects are persisted.

[2016-11-08 22:49] #580 closed

[2016-11-11 21:45] appeltaert commented on #579
So i did some eyeballing, and while its not a terrible lexer, i think(not an expert) this feature requires a LL(k) parsing pattern to solve elegantly, and like you suggested yourself, #601 supports it.

I think this is a good move, a lot of open issues/tasks i saw on that 3.0 road map involves the lexer also right? Chances are that most new features/changes are going to involve the lexer.

[2016-11-11 21:58] theofidry commented on #579
Hm not so much actually. The lexer is involved as soon as something touches the Expression Language, i.e. the syntax to declare values. The parsing for the IDs or class names is done by the [FlagParserInterface](https://github.com/nelmio/alice/blob/master/src/FixtureBuilder/Denormalizer/FlagParserInterface.php), which does not involve the lexer but good old regexes (which is more than enough there

[2016-11-11 22:00] theofidry commented on #579
There is a few features I'm not aiming for the 3.0 stable release: if someone is ready to work on them before that I would welcome it obviously, but it's not my priority/goal.

I would love #601 to be done before the stable release as well, but I have little time to investigate how it would work (the list above is already more than enough :P)

[2016-11-12 09:13] appeltaert commented on #579
I totally missed contrbuting.md, i'll put some more time in into this. It is possible that it takes someone more acquainted with the internals to really pick this up, but its still a fun introduction to the internals.

[2016-11-12 12:27] theofidry commented on #579
For now there's only me 😛 I realise it's a big library which makes it not very easy to dig it, but I tried my best to make the code and doc regarding it as clear as possible. If you find something confusing while looking at something, don't hesitate to report it!

[2016-11-14 18:25] hiefman commented on #547
`console h:d:f:l -vvv` raises the follwoing stack trace:

[code]
`
<uniqueTagForNode('@node_<numberBetween(1, 100)>')>` results in
[code]

[2016-11-14 21:48] theofidry commented on #547
Ah I see, it's highly possible that this is a parsing error indeed. I'll try to look into it, but it's very likely that I can't do much about it: alice 2.x doesn't have a proper lexer so it is very hard to have some syntax right (issue addressed in 3.x).

This however should work:

[code]

[2016-11-16 23:20] bwegrzyn opened #621 "[Question] How to generate arbitrary number of records?"
Is it possible to specify the number of records we want to generate at run time?

For example, I have a CLI command where the user can generate a bunch of test data for my application. This command allows them to specify how many users/groups/organizations/etc they want to generate.

What would be the best way to do this? Obviously, hard coding the ranges via `user_{1...10}` won't  work here, and

[2016-11-16 23:28] #597 closed

[2016-11-17 00:08] #570 closed

[2016-11-17 00:20] theofidry commented on #621
Hm, it's a bit of an edge case, but I think the easiest way would be to load a PHP array rather than a YAML file, to make the `'user_{1..10}` string dynamic. This should work on both 2.x and 3.x.

I'm not really in favour of adding natively an easier way to do that, as it would surely be done by allowing the usage of parameters in the fixture IDs. Besides being a pain to handle, it's quite dangero

[2016-11-17 03:22] bwegrzyn commented on #621
@theofidry Thanks for the answer!

Is the `user_{1..10}` syntax supported in PHP array fixtures, or should I generate the full array myself?

[2016-11-17 08:39] theofidry commented on #621
Yes, the YAML format is parsed as a regular PHP array. Everything you use
in YAML works in PHP :)

On Thursday, 17 November 2016, Bart Wegrzyn <notifications@github.com>
wrote:

[2016-11-17 09:34] theofidry opened #627 "Investigate caching"
As it has been design in #265, the result generated by the `FixtureBuilder` is a comprehensible graph of fixtures which is invariant: loading X times the same set of data with the `FixtureBuidler` will result each time in the same graph of fixtures.

However, we can see here (profile generated by the scenario 2 in `profiling`:

<img width="363" alt="screen shot 2016-11-17 at 09 21 54" src="https:/

[2016-11-17 09:45] theofidry opened #628 "Priority tag"
As described in #388, the fixtures are generated in the following order:

- instantiate all fixtures — if a fixture needs to be injected during instantiation, alice will generate that fixture completely *first* before injecting it
- hydrator all the fixtures
- do the method calls on the fixture
- allow a configuration step

However maybe an object expects a complete object to be given during the h

[2016-11-17 09:55] theofidry opened #629 "Support immutable functions"
In https://github.com/nelmio/alice/issues/313#issuecomment-223916566, there was the question of supporting `with*` methods. After writing down #388 and the first beta, I would say that this can be added by:

- Either keeping this as it is and add a `configurator` flag to the method to say it returns the modified object
- Add a configuration step as in the spec. This does require to change a couple

[2016-11-17 09:59] theofidry opened #630 "Prepare stable release"
Two betas are out now! There is still more changes to come which would call for other beta releases, but I would like to finish things as soon as possible. Once this is done, I believe we can let the project breath a few month before releasing the stable release.

@tshelburne I think pretty much everything has an issue now. Would you mind having a look at the issues and the doc and spot things tha

[2016-11-17 16:56] bwegrzyn commented on #621
Perfect, thanks! I've got it working using a PHP array.

[2016-11-17 16:56] #621 closed

[2016-11-17 16:59] theofidry commented on #621
😄

[2016-11-17 17:28] tshelburne commented on #629
I'm not completely clear on the intention, even after reading the comment + issue from before. Can you paste an example + intended result?

[2016-11-17 17:36] theofidry commented on #629
Sure. The idea is that you may have methods (be it from another service, a static method, or a method and the instance) which returns the result, for example:

[code]

[code]

If you take the example above, assuming `__calls` works (I still have to implement it), the fixture would be equivalent to `new Dummy('foo')`, because `Dummy#withParam()` doesn't modify the fixture itself, but returns the mo

[2016-11-17 17:40] theofidry commented on #629
@tshelburne I added the explanation in a rush, if it's not clear enough let me know I'll rephrase it when I have some time

[2016-11-17 17:52] pverdu opened #631 "NotClonableTrait removed"
Since today we have a problem running composer install with the theofidry/alice-data-fixtures package. The following error is displayed when clearing Symfony's cache:

[code]

What's the reason for the NotClonableTrait being removed? Any idea how i can fix this other then using v3.0.0-beta.1 ?

[2016-11-17 17:58] theofidry commented on #631
Ah damn yes I need to update `theofidry/alice-data-fixtures` and `hautelook/alice-bundle`.

I updated the name in the `dev-master`, those two libraries are using the old name. I recommend you to simply update `nelmio/alice` to `@beta` instead of `@dev` in the meantime

[2016-11-17 18:00] pverdu commented on #631
Thanks for the fast response. We will use @beta for now 👍

[2016-11-17 19:28] tshelburne commented on #630
At first glance, it all looks good to me. The good thing about those details is that they are low-hanging fruit for first-time contributors, so anything they want to fix or update can be welcomed immediately.

I might clean up some of the language for the upgrade path prior to release - let me know when that is getting close. I'm in the midst of a big feature build with work, so I might need to pu

[2016-11-17 19:30] tshelburne commented on #629
@theofidry So would the Alice part remove the need for actually adding the `withParam` method to the class? If not, how is this different from just allowing method calls?

[2016-11-17 19:57] ogizanagi commented on #629
@theofidry : I fear I'm unable to help from the implementation POV, because I know too few about Alice internals and didn't had time nor really the need to dig into it until now :/
But I definitively approve this feature request.

Because it'll return a new instance each time, so each subsequent call should take the new instance instead of the original one.

[code]

[2016-11-17 21:12] tshelburne commented on #629
@ogizanagi I understand the immutability aspect, but if we're only getting one object in the end, why does it matter? Or are *all* states of the single object being added to the set?

[2016-11-17 21:58] theofidry commented on #629
Kind of. The idea here is not to be to opinionated and give room for some flexibility for weird stuff without having too much of an impact. I don't expect much people to benefit from it, but I also don't think the cost for supporting it is too high.

@ogizanagi to be fair, the second option for the implementation definitely requires more insight  about the internals. But if you happen to check a b

[2016-11-17 22:01] theofidry commented on #630
I'll try to work a lot of the doc in the coming days, so a check on the language would be welcome after that :P

I also would love if as the guy behind the second version, would be able to point out a few hardship on the upgrade path. But I guess this could require to actually try to upgrade a project from 2.x to 3.x which might take too much of your time though.

[2016-11-17 22:04] theofidry commented on #631
If that solved the issue, don't forget to close the issue ;) Meanwhile I've updated the doc to use the beta instead of the dev version, it's definitely more stable that way.

[2016-11-18 12:57] pverdu commented on #631
Great, thanks!

[2016-11-18 20:35] tshelburne commented on #630
Sounds good. I've only ever done one project with Alice (PHP is rare for me), and I no longer have access to that code. I can reach out to my former client and suggest they check it out, though I'm doubtful they would have the resources to handle it right now.

Let me know when you feel the docs are "settled" and I'll just do a cleanup pass for minor grammatical stuff. I think the intention throug

[2016-11-18 23:49] ChrisGibb opened #632 "ArrayAdd set() + findAdderMethod()"
Hi,

I'm just getting started with this bundle which is awesome, but I've noticed (I think) a little gotcha.

The scenario is that I'm working with Account and User entities. The account entity has a property called **users** to which I'm attaching a User using the @user1 notation.

There is a problem, which I can work around but I think it would be worth to consider a change to make ArrayAdd hand

[2016-11-19 13:23] theofidry commented on #632
Indeed I can see this being a problem. Do you want to try to provide a patch for it? I think this can be achieved with reflection:

[code]

There is a few gotcha:

- Watch for the case where there is no param
- Add a test for both cases
- Eventually add that change to 3.x as well (the master branch)

But overall, this shouldn't be too hard :)

[2016-11-21 13:16] theofidry opened #638 "PHP native functions should work"
The following is failing:

[code]

[2016-11-21 23:22] #638 closed

[2016-11-21 23:23] #241 closed

[2016-11-22 09:28] #371 closed

[2016-11-22 09:57] theofidry commented on #475
I actually don't think this is doable, it would be a deprecation error without having any way to do something about as the persistence layer has been replaced by theofidry/alice-data-fixtures which is nelmio/alice 3.0+ compatible.

[2016-11-22 09:57] #475 closed

[2016-11-22 22:20] theofidry commented on #429
@Soullivaneuh sorted. I couldn't spot what caused the issue though.

You problems is actually an expected behaviour, you have:

[code]

which is equivalent to:

[code]

But the scope of a unique value (except for arrays in 3.x), is the class, i.e. you are declaring that you want any `PowerDNSBundle\Entity\PowerDNSDomain` to have a unique name. However as you have the `{0..5}` range overlapping, so

[2016-11-22 22:20] #429 closed

[2016-11-22 22:31] theofidry commented on #436
After looking at this again, this is the expected behaviour. Keys are not dropped in `setProviderData()`, because it's not alice responsibility to normalize the input, if you inject `['foo' => 'bar']` you should get that array, if you put `['bar']` idem. If you want a guarantee to have a clean array you should normalize it.

In 3.x, this behaviour won't change, you will have easier time to customi

[2016-11-22 22:31] #436 closed

[2016-11-22 22:35] theofidry commented on #630
@tshelburne I've updated the doc. I would like you to do a quick check but otherwise I think we can do a release for both `3.0.0-beta.2` and `2.2.3`.

[2016-11-22 22:36] theofidry opened #644 "Add upper bound for PHP"
Prevent alice 3.0 to be installable with 7.2 (alice is 7.1 compatible) as PHP is not semver, it is safer to add a patch later to allow the installation in a newer PHP version rather than letting the user installing it in a non-working version.

[2016-11-22 22:58] simshaun commented on #436
It's been a while since I've dealt with this, but this problem/bug didn't have anything to do with `setProviderData` other than Alice was choosing to call `addProviderData` over it.

The problem with Alice calling `addProviderData` is that it wasn't passing the key *(apiKey)* to the method. It was only passing the value *(456)* to it. I needed both the key and the value.

The current Alice behavio

[2016-11-22 23:07] theofidry commented on #436
I understand the problem. In 2.x I don't think this can be changed, this would be a BC break although I don't expect many people to encounter it.

In 3.x, Alice is relying on Symfony PropertyAccess for that as AFAIK it doesn't support this case of `add($key, $value)` out of the box like that either. It is however, far easier to support it. But as they are some performance impact (it requires to an

[2016-11-22 23:16] simshaun commented on #436
When there's a map in the YAML, e.g.

    providerData:
        apiKey: '123'
        version: '2.x'

Is there any way to have Alice just call `setProviderData` instead of `addProviderData`? That would mitigate the problem.

If it's a list, then call `addXXXX`:

    people:
        - 'John'
        - 'Jane'

[2016-11-22 23:40] theofidry commented on #436
Yes, in 2.x by re-ordering the populator methods, but that's rather painful. In 3.x it's easy to extend it via the link I gave you.

I do understand it may not be the best thing in the world there, but the alternative is, besides technically difficult and complex, not something everyone wants either. I prefer to keep this behaviour consistent between 2.x and 3.x and just make it easier for people

[2016-11-22 23:50] simshaun commented on #436
Ok, thanks

[2016-11-23 01:13] ChrisGibb commented on #632
Hi, I'll try to put this together and get back to you soon as.

[2016-11-23 11:07] nlemoine opened #645 "randomElement"
Hi,

I'm using the latest version of Alice (master branch) and have an issue with the `randomElement` method.

[code]

I get this error:
[code]

Am I missing something in array syntax or is it a confirmed bug?

[2016-11-23 11:33] theofidry commented on #645
No this should work, I'll look into it

[2016-11-23 11:56] nlemoine opened #646 "Using same entity multiple times"
When creating fixtures, I can't use multiple times the same entity.

[code]

Only the last identical entity can be found in the objects set. Is this the expected behaviour?

[2016-11-24 10:15] nlemoine opened #647 "<ipv4()>"
Some Faker data types generate errors:

[code]

[2016-11-24 10:16] nlemoine commented on #647
`<ipv6()>` as well.

[2016-11-24 12:04] theofidry commented on #647
I think this is related to #543

[2016-11-25 12:04] nlemoine commented on #647
The issue you mentionned is closed, I'm assuming it is fixed but I'm still having the issue. Am I missing something?

[code]

I still get the same error.

[2016-11-25 12:25] theofidry commented on #647
Sorry https://github.com/nelmio/alice/issues/569: basically having a function where the content is escaped automatically.

[2016-11-25 12:33] theofidry commented on #646
Yes, it's not specific to alice but rather YAML, see http://yaml-online-parser.appspot.com/?url=http%3A%2F%2F. To do what you want:

[code]

[2016-11-25 12:35] nlemoine commented on #646
Thanks! Sorry for the dumb issue. I should have figured this out.

[2016-11-25 12:35] #646 closed

[2016-11-25 12:36] theofidry commented on #646
no worries :)

[2016-11-25 12:48] nlemoine commented on #647
Sorry, I still don't get it and believe it's not related.

`<ipv4()>`, `<ipv6()>`, `< localIpv4()>` are providers from [fzaninotto/Faker](https://github.com/fzaninotto/Faker#fakerproviderinternet), right? So they should be available in Alice too?

Actually, I think I figured out what's going wrong. I removed the digit at the end of the function name in Faker. Something like:
[code]

And it works p

[2016-11-25 12:57] theofidry commented on #647
Oh I see, indeed it's completely different then

[2016-11-30 13:40] cierzniak opened #648 "How to user multiple times relation?"
I have system to organize events and for testing purposes i need to make fixtures with few inheritances of one entity. How to make it possible to eg. get one enttiy and use it multiple times in second?

[code]

When I check it by SQL:
[code]
I have eg. 40 records shown (so max tickets is more than max space in venue).

[2016-11-30 14:25] cierzniak commented on #648
Or how to chec condition? If @user->isActive() assign him to this fixture

[2016-12-01 10:42] theofidry commented on #648
I think you can do it by using variable references:

[code]

This should work, but I may not have accounted for that in the Expression Language... But if it doesn't, it something that should be added

[2016-12-01 10:44] #647 closed

[2016-12-01 14:30] cierzniak commented on #648
[code]
Gives error `Cannot access private property AppBundle\Entity\Venue::$maxSpace`

[code]
Gives error `Parse error: syntax error, unexpected '->' (T_OBJECT_OPERATOR) `

So still nothing :(

[2016-12-01 14:39] theofidry commented on #648
Should be `$venue` not `$venue*`, `$venue` is to refer to the value affected for the `venue` property (note that it's different from `@self->venue` for example.

I'm not sure I want to give support for this thing with the current Expression Language, maybe this would be more easily doable with #601.

Meanwhile, an easy although less elegant way is to use a faker provider:

[code]

Just thought abo

[2016-12-01 15:18] nlemoine commented on #647
👍 Thanks!

[2016-12-01 15:21] theofidry commented on #647
You're welcome :)

[2016-12-02 12:01] theofidry opened #650 "Fix wrong covers annotation"
Having a wrong `@covers` tags should make the build fail and a check should be done before running the tests

[2016-12-08 11:23] theofidry opened #652 "Make parameters accessible in identity"
In identity, I think it would be great if parameters could be accessed like for current:

[code]

[2016-12-08 11:27] theofidry opened #653 "Inject objects in PHP templates"
When using PHP templates (or directly `DataLoaderInterface#loadData()`, the following should work:

[code]

In YAML this wouldn't be doable, or rather this would be https://github.com/nelmio/alice/issues/251.

[2016-12-13 15:03] guiyomh opened #654 "Setter property not found"
Hi all,

i use `nelmio/alice:^3.0@beta` to run with Symfony 3.2. But i have a pb with setter on OneToMany relation.

![image](https://cloud.githubusercontent.com/assets/363162/21145010/fcd1980c-c14c-11e6-93f1-f8ff1e48c753.png)

It is a bug ? Or it's me , i do something bad ?

[2016-12-15 16:22] theofidry commented on #654
Hm hard to tell, I would expect it to work. I would recommend you to try debuging the PropertyHydrator, it's using Symfony PropertyAccess under the hood

[2016-12-16 19:04] theofidry commented on #654
nevermind the problem is that you have `society: '<numberBeetween(1, 3)x @society`, so you get an `array` of `Society`. The Symfony PropertyAccess will not iterate over your collection to do X calls of `addSociety()` but expects to find a `setSocieties()` instead.

I can only suggest you the following:

- Add a method `setSocieties()`
- Register a custom hydrator (you just need to decorate the exi

[2016-12-17 17:44] pverdu commented on #631
This problem is back again. Even when using the @ beta tag. Did you solve the issue in ```theofidry/alice-data-fixtures``` and ```hautelook/alice-bundle``` like you mentioned on Nov 17th?

[2016-12-17 17:49] theofidry commented on #631
Could you past me those versions? The problem should have occurred on `dev-master` only but I released a new tag yesterday. I've released a new tag for both `theofidry/alice-data-fixtures` and `hautelook/alice-bundle` which should have solved the problem

[2016-12-17 17:50] pverdu commented on #631
I'm experiencing the issue with these versions:
[code]

[2016-12-17 17:52] theofidry commented on #631
can you try to update them all?

[2016-12-17 17:55] pverdu commented on #631
I've used ```@beta``` on all of them. But that's when the problem occurred.
I tried going back to the versions lke my previous comment.

[2016-12-17 17:56] theofidry commented on #631
you need to update all of them at the same time, they are all outdated by 1 version. Otherwise reverting and staying on your lock deps should also be ok

[2016-12-17 18:02] pverdu commented on #631
I'll check it out. Thanks

[2016-12-17 18:12] pverdu commented on #631
Fixed! Thanks again

[2016-12-17 18:12] #631 closed

[2016-12-17 18:42] theofidry commented on #631
Glad to help :)

[2016-12-19 10:15] zajca commented on #645
Hi,
I can confirm same problem with static methods returning array.

[code]

I take a look to my older projects and with 2.2.2 this was working. Now with v3.0.0-beta.1 it's not working.

[2016-12-19 10:40] theofidry commented on #645
@zajca the correct syntax for yours would be `<randomElement(<(\MyBundle\Entity\MyEntity::getAvailableDomainTypes())>)>`, unlike in 2.x, there is a few things that changes in 3.x due to introducing a proper lexer. I wish I could keep the BC at this level, but there is far too much edge cases :/

[2017-01-01 07:16] mohsenSy opened #660 "updating wrong table"
I am not sure if you can help or not but I am having this strange problem.

I was tasked to write fixtures for a symfony project so I decided to use Alice for the job as it is very easy to use and comfortable.

The problem I am facing is that when I try to insert a new record to a some of the tables, Alice tries to insert it to another different table which of course fails because of different fie

[2017-01-01 19:50] #660 closed

[2017-01-05 15:06] spolischook opened #661 "Use doctrine metadata for entity guessing"
As far as I know now used typehinting for entity guessing and find by id.
But doctrine metadata is more precisely now what type of entity should be seted

[2017-01-07 22:29] mehmetsoylucom opened #662 "how can I load yml file ?"
How can I load YML file for last version of this bundle in Symfony3+ ?

[2017-01-10 09:04] theofidry commented on #662
@mehmetsoylucom I'm not sure to follow, aren't [the examples](https://github.com/nelmio/alice#example) enough? If you are asking for the service name (it's true that it should be added to the doc), it's `nelmio_alice.file_loader` cf. https://github.com/nelmio/alice/blob/master/src/Bridge/Symfony/Resources/config/loader.xml.

[2017-01-10 09:05] theofidry commented on #661
Good point, not sure if it's not what's already done but will double check :)

[2017-01-10 09:09] mehmetsoylucom commented on #662
My mistake, I'd check the old versions tutorial videos sorry. Thanks for your time.

[2017-01-10 09:09] theofidry opened #663 "Array to string conversion"
Original issue: https://github.com/hautelook/AliceBundle/issues/304

[code]

[code]

/cc @robertosanval

[2017-01-13 09:48] guiyomh commented on #663
same issue :
[code]

[code]

[2017-01-13 09:52] theofidry commented on #663
A workaround would be:

[code]

[2017-01-13 09:54] theofidry commented on #663
@guiyomh your issue seems different, looks like one of your property is an array where you expected it to be a string.

[2017-01-13 09:56] guiyomh commented on #663
@theofidry Oh, yes ! It's `<paragraphs()>` that return an array! thx

[2017-01-16 10:38] svandervlugt opened #664 "Parameter being resolved multiple times"
I want to use a parameter having a unique id multiple times.
I define this parameter as follows:
[code]
And use this parameter in the following objects:
[code]
and
[code]
Now I expect the generated values in the first and second object to be the same, as they refer to the same parameter, however for each a new uniqid has been generated.

Tested for version 2.2.2

[2017-01-16 10:47] theofidry commented on #664
I certainly didn't expect it to be evaluated each time. @tshelburne is it the desired behaviour? I'm kinda surprise by it. Maybe I could fix it in 2.x but at the same time this feature has been around for a while and maybe some people are relying on it, so fixing it would be a BC break...

[2017-01-17 02:42] tshelburne commented on #664
Hm, I definitely wouldn't expect this either. I think we should leave this ticket open with RFC, flag it in the docs somewhere, and then make sure it is happening as expected in 3.0. At this point, I doubt it's worth the BC break, but I don't have a great suggestion for @svandervlugt... The only idea I have in mind to avoid BC break is to add a flag to the parser that "eager evaluates" parameters.

[2017-01-17 12:27] theofidry commented on #664
Fine by me :)

[2017-01-23 16:31] jackbentley opened #665 "Can't use percent sign (%) in string"
I can't find a way to use a string with a `%` in it.

E.g `a%b`, `%c`, `100%`

It looks like there isn't any escape values for the optional DSL.

[2017-01-23 17:08] theofidry commented on #665
@jackbentley which version or alice are you using?

[2017-01-24 05:25] jackbentley commented on #665
Heres a bit more info:

#### Version
[code]

#### Example `fixture.yml`
[code]

#### Example Loader
[code]

#### Output
[code]

[2017-01-24 05:56] jackbentley commented on #665
Seems to be working fine on `2.2.2`, however 😃

[2017-01-30 22:00] #654 closed

[2017-01-30 22:02] #662 closed

[2017-01-30 22:04] theofidry opened #667 "Move to strict coverage"

[2017-01-30 22:08] #630 closed

[2017-01-30 22:09] #598 closed

[2017-02-02 20:27] tshelburne commented on #630
@theofidry I will review this weekend and push up a revision PR. Works?

[2017-02-02 21:04] theofidry commented on #630
Perfect for me :) I'll find some time in 2-3 week to finish the
requirements for the stable release, mainly try Hoacompiler for the
lexer/parser (most of the issues are coming from this part) and the cache
layer which looks pretty good performance wise.
On Thu, 2 Feb 2017 at 20:27, Tim Shelburne <notifications@github.com> wrote:

[2017-02-07 12:25] aistis- commented on #377
Hello! Is `@user1->getName()` already supported?

[2017-02-07 12:51] theofidry commented on #377
@aistis- yes it should :)

[2017-02-07 12:53] aistis- commented on #377
I get an error in beta3:
[code]

But it worked as `@product_1->sku` on private property.

[2017-02-07 12:54] theofidry commented on #377
Could you open a dedicated issue for it? If possible with the version used as well

[2017-02-07 12:57] aistis- opened #668 "Call referenced object method does not resolving"
I am trying to call a method from a referenced object

[code]

But I get an error in beta 3:

[code]

But it works `@product_1->sku` on private property.

[2017-02-07 13:02] theofidry commented on #668
@aistis- can you give the which beta version is being used as well? (there is 3 beta releases) If you're not sure, the version hash will do

[2017-02-07 13:04] aistis- commented on #668
[code]

[2017-02-07 13:20] theofidry commented on #668
Thanks, I'll try to have a look shortly

[2017-02-07 15:43] poteirard commented on #580
For those facing the same problem check the structure of the yml :)
I was missing the name of the fixture >.<

[2017-02-07 15:52] alekitto commented on #668
The expression is correctly parsed, but seems that a `FixtureMethodCallValue` is missing

[2017-02-07 15:54] theofidry commented on #668
I'm surprised it's missing but that's how it looks.

[2017-02-07 15:54] aistis- commented on #668
Is it something I should hook up manually?

[2017-02-07 16:16] alekitto commented on #668
Workin' on it... I will submit a PR shortly

[2017-02-07 22:59] theofidry commented on #648
@cierzniak sorry to come back a bit late on it, I think https://github.com/nelmio/alice/issues/648#issuecomment-264138958 should work on it, the error you get:

Seems to indicate there is no getter for that value

[2017-02-08 16:06] alekitto opened #670 "Flaky test for OptionalValue"
[This job](https://travis-ci.org/nelmio/alice/jobs/196748892) fails because of `testLoadOptionalValues` assertion failure.

The problem seems located in the `OptionalValueResolver` at line 89:

[code]

This will result in the first value to be returned even if the quantifier is 0, in case `mt_rand` generates 0.
I think that the check should be changed in `(mt_rand(0, 99) < $quantifier)`

[2017-02-08 17:18] theofidry commented on #670
Duplicate of https://github.com/nelmio/alice/issues/585.

This indeed should be fixed, just keep in mind that `0` and `100` are valid values for `$quantifier`. It looks dumb to have:

[code]

but it could be the result of an expression:

[code]

[2017-02-08 17:18] theofidry commented on #585
Closed in favour of #670

[2017-02-08 17:18] #585 closed

[2017-02-09 08:50] theofidry opened #672 "Smarter random value resolving"
As stated in https://github.com/hautelook/AliceBundle/issues/313, if you have:

[code]

[code]

[code]

`dummy*` may be resolved with the wrong value. Maybe there is a smarter way to do it, by either passing the typehint of the result wanted when resolving the value, retrying to resolve the value if does not match or calculating that upfront...

It is certainly doable, what I'm less sure of is wha

[2017-02-10 15:21] theofidry commented on #668
@aistis- it should work on `3.x@dev` now :)

[2017-02-10 15:21] #668 closed

[2017-02-12 21:07] aistis- commented on #668
Thank you!

[2017-02-13 09:16] aistis- opened #674 "Disabling constructor when it is used istead of setters does not work"
Hi,

my model excepts params via constructor instead of using setters.

But, I want to define the each field separately but not create via constructor. The fields are private.

[code]

Error:

[code]

[code]

[2017-02-13 12:18] theofidry commented on #674
Yes this is expected. It used to be supported in 2.x but has been deprecated and completely removed in 3.x. I believe alice shouldn't try to assume too much about your objects: accessing and setting a private variable is for me something that can be dangerous, as such it should not be done by default.

There is two ways to go:

- Overriding the property accessor used by Alice (if using `NativeLoad

[2017-02-13 12:25] aistis- commented on #674
@theofidry thank you!

[2017-02-13 12:25] #674 closed

[2017-02-13 12:33] #650 closed

[2017-02-13 12:34] theofidry commented on #674
You're welcome :)

[2017-02-13 15:47] blaues0cke commented on #209
@theofidry The "Reuse generated data using objects value" part is gone in the master branch. This link is working: https://github.com/nelmio/alice/blob/2.x/doc/customizing-data-generation.md

[2017-02-15 11:10] theofidry opened #675 "Clarify Third-party section"
I think we can go a step further in that section description in the ToC

[2017-02-15 17:07] kcivey commented on #569
So is the only way to include HTML (or anything else with `<`) in fixtures to wrap every tag in the `identity` function? Instead of `<i class="fa fa-cog"></i>`, write `<identity('<i class="fa fa-cog"></i>')>`?

[2017-02-15 17:11] theofidry commented on #569
@kcivey I actually didn't get the chance to try, but it should work.

[2017-02-15 17:20] kcivey commented on #569
Yes, using `identity` works, but it seems horribly messy. Without it I get the "Could not lex the value" error when it runs into a `<`.

[2017-02-15 21:15] theofidry commented on #569
Maybe the error message can be worked a bit, but I think it should stay an
error right of the bat.

What do you mean by messy?

On Wed, 15 Feb 2017 at 17:20, Keith C. Ivey <notifications@github.com>
wrote:

[2017-02-15 21:37] kcivey commented on #569
I thought the idea in #9 was to parse only things that looked like `<foo()>` as expressions, so that normal XML and HTML could be included in property values. As it is, it seems like a block of HTML has to have `<identity('` added at the start and `')>` at the end, and all single quotes in it have to be converted to `&apos;`. Alternatively, each tag in the text can be wrapped in `<identity('` and

[2017-02-15 23:24] theofidry commented on #569
#9 is quite old and a lot of new features have been added since then, but I'll look if there's a better way to use HTML

[2017-02-17 22:55] clemf opened #677 "Optional property with colon in YAML"
I'm trying to use the optional notation with a percentage and default in a YAML fixture. The problem is that I can't use a colon in YAML, and I keep getting this error:

[code]

If I do the optional syntax without default, it works fine:
[code]

If I try to add the default reference to the end of that with a colon, I get errors no matter what:
[code]

[2017-02-22 18:08] nietzcheson opened #678 "Could not find the fixture 'MyFixture'"
I'm used ^3.0@beta.

I have:
Customer:
[code]
Contact:
[code]
And CustomerContact:
[code]
And the issue it's: **Could not find the fixture "contact"**

[2017-02-22 23:15] theofidry commented on #678
Hi! Could you please give more info on which version of alice and AliceBundle you are using please as well as the files in which you are declaring your entities? Otherwise what you are showing is clearly expected to work

[2017-02-26 23:34] theofidry commented on #677
Hi @clemf, could you tell me which version you are using please?

[2017-02-27 15:23] mitalcoi opened #680 "Constant support"
Symfony 3.2 provide constants in YAML:
http://symfony.com/blog/new-in-symfony-3-2-php-constants-in-yaml-files

Can you provide some bridge for alice?

[2017-02-27 15:53] theofidry commented on #680
Is there anything to do at all? If you are using Sf Yaml 3.2 you should be able to use them with alice as well.

[2017-02-27 15:56] clemf commented on #677
Hi @theofidry, I'm using version 2.2.2

[2017-02-27 15:59] theofidry commented on #677
Can you try without the quotes? If this doesn't work, unless someone is willing to look into it I don't think this is gonna be fixed in 2.x. I'm only actively maintaining 3.x and I don't really have enough resources to fix much in 2.x :disappointed:

[2017-02-27 16:07] clemf commented on #677
Is 3.x stable? I don't mind upgrading if it fixes this problem.

[2017-02-27 16:19] theofidry commented on #677
Not yet. The API is rather stable, but there is still some internals not fixed yet. I guess the quotes trick didn't work? Alternatively, you could leverage a custom Faker provider, not the best thing ever but at least it would work.

[2017-02-27 16:27] clemf commented on #677
I've tried every variation I could think of, using no quotes doesn't work because the symfony yaml parser dies on the 'at' symbol. I may make my own provider, thank you for the help.

[2017-02-27 16:31] theofidry commented on #677
Did you try to quote the whole thing? Sf YAML parser should definitely not die on the `@` in this scenario

[2017-02-27 17:12] mitalcoi commented on #680
I use symfony 3.2, but Alice doesn't handle it
[code]
Return an error:
[code]

[2017-02-27 17:16] theofidry commented on #680
Well, I guess I'll need to look into it. In the meantime `<(AppBundle\Enum\CampaignType::GOOGLE_ADWORDS)>` or something similar should work.

[2017-02-27 17:39] mitalcoi commented on #680
Thx, it works!

[2017-02-27 17:39] #680 closed

[2017-02-27 17:44] clemf commented on #677
Ok I just tried quoting the whole string and it worked:
[code]

I'm a little confused because I know I tried this before but obviously something else must have been going on. Thanks again for the help, I appreciate the work you put into this!

[2017-02-27 18:03] theofidry commented on #677
Yeah, this happens when you have:

[code]

But that's a YAML thing, not much of alice there :)

[2017-03-07 21:01] #677 closed

[2017-03-07 23:46] robertkabat opened #682 "Duplicated row in database"
Hi,

I think I looked everywhere but still don't see any solution.

I am using Symfony 3 with Alice 2.x.

Let's say I have two bundles. Both have one php loader file and one fixtures.yml file. When I'm trying to access object from fixture A in fixture B (e.g  user: "@user_<current()>") while loading dummy data into database I get duplicated row error.

It looks like when I call for user object Ali

[2017-03-08 00:18] theofidry commented on #682
Hi @robertkabat. No you read the doc fine, that may be a bug. Are you using *HautelookAliceBundle* 1.x or 2.x? And *NelmioAlice* 2.x or 3.x?

Potential duplicate of https://github.com/hautelook/AliceBundle/issues/314

[2017-03-08 01:22] robertkabat commented on #682
@theofidry I'm using this one:

`"nelmio/alice":` `"^2.2"`

And I'm not using HautelookAliceBundle.

I have my own two bundles where I simply keep loader + fixtures in DataFixtures folder. This is how the e.g loader file looks like:

[code]

And example fixtures:

[code]

[2017-03-08 01:44] theofidry commented on #682
Hm, not sure then without having a bit more code to bite to. That said you might want to take a look at https://github.com/hautelook/AliceBundle/blob/1.x/src/Alice/DataFixtures/Loader.php, that's what it is really.

[2017-03-09 22:52] robertkabat commented on #682
Actually that' all the code for this case. It's very simple. Creating user and post attached to that user. So there is nothing to bite :) I will go through Loader class and let you know if I ill find anything.

[2017-03-09 23:33] theofidry commented on #682
There is two things bugging me in your code:

- What about the order in which the files are loaded?
- I can't remember how exactly the loader keep references of the objects between each loading. I think the loader above can help you with that as well.

From what I see, that's the two leads I can give you :)

[2017-03-09 23:55] smitty260 opened #684 "Multiple reference fixture not constructing properly with arrays"
When using the multiple reference fixture function ([url](https://github.com/nelmio/alice/blob/master/doc/relations-handling.md#multiple-references)) with a variable of an array type, it just constructs empty arrays.

Example variable at top of class delcaration:
`private $exampleVar = [];`

Example of multiple references fixture:
[code]
Currently using this workaround:
[code]

[2017-03-10 00:05] theofidry commented on #684
That's a nice workaround :)

That's quite possible, I remember coming across an issue along those lines. If it has not been fixed it can be one of the following reasons:

- I was too busy with 3.x, I just made sure it's fixed in 3.x but couldn't find the time to fix it in 2.x as well
- There was an issue with fixing it: either way too complex or not possible without BC breaks

I'm unfortunately no

[2017-03-10 00:06] theofidry commented on #684
In the meantime I still thinks this should be documented. Careful though as you are using the doc of master, which is for 3.x, instead of 2.x.

[2017-03-10 00:41] robertkabat commented on #682
Thanks for the leads :)

I was also thinking that files are loaded in wrong order but then I wouldn't get error message for duplicated row but for missing reference I think. Also I saw that order in which files are loaded is correct(1 - users, 2 - stories). Just to be sure I've implemented getOrder functions. so it looks like this right now:

[code]

However I've noticed that even if i keep data d

[2017-03-10 00:59] theofidry commented on #682
Hm, might also have to do with Doctrine then: maybe an entity is detached at some point and introduce as a new one... I can't say much more at that point :)

[2017-03-10 01:05] robertkabat commented on #682
I just found out that relations between data objects are correct. Every new story gets unique user relation. I will investigate this further, I think I'm getting to the bottom of this. As soon as I find out what's wrong I will give you a shout.

Thank you for your time and help ;)

[2017-03-18 12:06] #667 closed

[2017-03-18 12:16] #675 closed

[2017-03-18 12:56] #665 closed

[2017-03-18 13:38] theofidry commented on #664
Closed by #689 and #688.

[2017-03-18 13:38] #664 closed

[2017-03-18 15:16] theofidry opened #692 "Add range name builder"
Port #347 to 3.x

[2017-03-18 16:06] theofidry commented on #321
Closed via #315

[2017-03-18 16:06] #321 closed

[2017-03-18 16:08] theofidry commented on #547
No easy fix unfortunately. The solution in 2.x is to use faker providers in the meantime or the suggested solution above.

[2017-03-18 16:08] #547 closed

[2017-03-18 18:38] theofidry commented on #645
Duplicate of #663.

[2017-03-18 21:46] #652 closed

[2017-03-18 21:57] #644 closed

[2017-03-18 21:59] #653 closed

[2017-03-18 22:33] theofidry commented on #628
Although interesting, this shouldn't be needed. For example if you consider the following scenario:

[code]

you can see here that `dummy` will need the `title` property of `another_dummy`. If `another_dummy` is not complete yet when `dummy` requires its title, the it will get the value `Alice`, and if `another_dummy` was complete `Bob`.

With the current implementation, when `@dummy->title` is be

[2017-03-18 22:33] #628 closed

[2017-03-18 22:39] theofidry commented on #581
I actually think it increase the complexity of things for no reason. Might be a nice to have but as the workaround is trivial, I prefer not to bother to.

[2017-03-18 22:39] #581 closed

[2017-03-18 22:49] theofidry commented on #663
@robertosanval well actually makes sense, as the arrays need to be escaped:

[code]

[2017-03-18 22:49] #663 closed

[2017-03-18 22:54] theofidry commented on #648
Stupid of me: I assumed it was in 3.x but it works fine there, it's a problem of 2.x which doesn't support the `$vanue*->maxSpace`. It may be possible to fix it, but that's what 3.x is for really :)

[2017-03-18 22:54] #648 closed

[2017-03-18 23:31] theofidry opened #701 "Supported multiple arguments with nested calls"
What's supported:

- `<f(<g()>)>`
- `<f(<g()>, 'a')>`
- `<f(<g('a')>)>`

What's not:

- `<f(<g('b', 'e')>, 'd')>`

/cc @dantleech

[2017-03-20 08:23] theofidry commented on #701
Note that I don't think this should be a blocker for the 3.0.0 release. But I think it's easier to solve the problem by tackling #601.

[2017-03-20 13:58] theofidry commented on #601
@Hywan I took a glance this weekend for the Compiler, looks like a good solution to replace the in-house lexer. I still have a few issues with your PP language but I think it's just a matter of getting familiar with it. A little question though: why are hoa projects not semver?

[2017-03-20 14:02] Hywan commented on #601
@theofidry Funny, I opened your issue this weekend too 😛. I can help to write the grammar (in PP) if you need help.

Hoa libraries are compatible with semver, but here is the answer: https://hoa-project.net/En/Source.html#Rush_Release.

[2017-03-20 14:45] theofidry commented on #601
Cool :) I'll push a POC soon to be able to discuss on it then :)

[2017-03-20 14:57] Hywan commented on #601
Perfect! Please, ping me.

[2017-03-20 19:55] cve opened #704 "Question for multi tenant example"
Hi,

First of all big thanks for develop such great library.

Suppose that we have 3 objects, a Product that has many Category and User entity that has many Product and Category.

Each User should have its own Products and Categories, so we should have user_id in Product and Category entities and each Product should have category_id for relation to Product.

Let's say I want to fill the database w

[2017-03-21 01:03] theofidry commented on #704
Hi :)

Is your problem how do distribute evenly the products/categories to the users?

[2017-03-21 07:18] cve commented on #704
I want to test in Behat that authenticated users has its own products and categories, no matter if these are distributed evenly :)

[2017-03-21 08:24] theofidry commented on #704
Hm then what's the problem? 😄  The above should work no?

[2017-03-21 09:26] cve commented on #704
The problem is that the products and categories aren't linked properly, for example:

User

id | name
---| -------
1 | user1
2 | user2

Product

id | name      | user_id | category_id
-- | ------------|-----------|---------------
1 | product1 | 1           | 2
2 | product2 | 2           | 1

Product with id = 1 is linked to User with id = 1 but Category of that product (with id = 2) isn't linked t

[2017-03-21 11:12] theofidry commented on #704
Your YAML files are correct, it's more likely to be a problem on how you set your relations. You are setting the users on both categories and products via Alice, so concretely you are doing in pseudo code:

[code]

So you have 0 guaranty that the category that a product and a category will have the same user. But it's not a problem at Alice level: it's a problem on how you designed your entities a

[2017-03-21 11:16] cve commented on #704
So can I reference User from Category in Product like:

[code]

?

[2017-03-21 11:52] theofidry commented on #704
In Alice 3.x this should work, in 2.x I'm not sure (I've fixed your example there was a mistake). If it doesn't you'll have to register a faker provider to do something like:

[code]

or simply fix it in your entity: don't require a `setUser()` but instead set the user in `setCategory()`.

[2017-03-21 11:54] cve commented on #704
Thanks, I will check it today and respond.

[2017-03-21 20:36] #704 closed

[2017-03-26 11:48] sourcerer-mike opened #709 "Random selector should use numbers only"
Imagine this yml:

[code]

Because UUID, DDD and value objects ;-)
Now another entity comes around:

[code]

This fails as the star `*` will randomly choose for "customer_1..9" or "customer_id_1..9" .
Yes I could rename them or use `<numberBetween(1,9)>` but this issue suggest another operator like `%` that is not that eager and only concerns about numbers. So `%` shrinks it down to "customer_1..9

[2017-03-26 14:14] theofidry commented on #709
Yes I could rename them or use <numberBetween(1,9)> but this issue suggest another operator like % that is not that eager and only concerns about numbers. So % shrinks it down to "customer_1..9" which works for the Wallet-Entity.

For now the star operator is the only one and I'm not sure about adding another one: the syntax would need to be discussed it would require not to be overly complex. So

[2017-03-26 14:14] #709 closed

[2017-03-27 08:52] CrumbleZ opened #710 "Classification security"
* [ ] Hide confidential reports with camo
* [ ] Hide secret reports with camo and lock them with a password

[2017-03-27 08:53] #710 closed

[2017-03-31 14:22] damienalexandre commented on #684
I would like to report a similar issue with `v3.0.0-beta.4`.

[code]
[code]

I'm using the NelmioAliceBundle Symfony bridge, and get this exception:

[code]

I'm not familiar with Alice code base, but is there something I can do to help?

[2017-03-31 15:23] theofidry commented on #684
@damienalexandre the error looks weird to me, I'll look into it. However you seem to misunderstand something:

[code]

c.f. https://github.com/nelmio/alice/blob/master/doc/advanced-guide.md#references

so I assume what you wanted to do was actually:

[code]

or better:

[code]

If you want a random number of elements:

[code]

And if you want to avoid duplicates, add the `(unique)` key to `package

[2017-03-31 15:32] damienalexandre commented on #684
Thanks for looking into it :)

I expect my syntax to return an array of 100 object "a", and set it to the "packages" variable, as described here: https://github.com/nelmio/alice/blob/master/doc/relations-handling.md#multiple-references
This is, in fact, the same syntax as the `pick one randomly in [@1, ..., @100]` so that's may be the issue.

What I'm trying to do is more like this:

[code]

I don

[2017-03-31 15:59] theofidry commented on #684
Indeed the doc seems to disagree with me... I'll need to double check that to see if the behaviour is consistent between 2.x and 3.x.

[2017-04-05 18:01] rouflak commented on #645
@theofidry I'm getting the same issue and could not find any solution in the issue mentioned above.

Could you please write a brief conclusion to let us know how to deal with arrays and the `randomElement` fixture?

Thank you very much

[2017-04-05 18:10] theofidry commented on #645
@rouflak did you retry with the latest version? I believed I fixed that one already.

[2017-04-05 18:11] theofidry opened #711 "Add support for autowiring"
Adding support for autowiring would be a nice feature IMO with the coming Symfony 3.3. release. Plus making it work on the bundle would pave the way for adding a support for Laravel.

[2017-04-06 04:24] dominics commented on #645
@theofidry confirmed the issue still exists in both beta4, and in 4d47f90371 (latest master at this point). (My test case is like the original issue reporter's, just an array literal, not a static call)

Seems like this isn't a duplicate of #663 as well; that provider was being passed a string, not an array.

[2017-04-06 04:41] dominics commented on #645
One workaround is to use an array parameter, which doesn't make the lexer spew:

[code]

I also note there's no test case for a literal array (`"<randomElement(['foo', 'bar'])>"`) in the LexerIntegrationTest.

[2017-04-06 07:54] theofidry commented on #645
Yeah that's possible :) there is tests for the array and I try to do most
of the combinations, but it's a bit hard to cover all the cases :P

I'll have a look in the coming days, unless you are willing to give it a
try. I expect it to be just a matter of playing with reflexes in the Lexer
On Thu, 6 Apr 2017 at 05:41, Dominic Scheirlinck <notifications@github.com>
wrote:

[2017-04-10 20:47] nietzcheson commented on #678
Close this issue. I'm use AliceBundle and him have a similar (issue)[https://github.com/hautelook/AliceBundle/issues/325]

[2017-04-11 07:31] ossinkine commented on #678
I think all the same issue with this library, not with bundle.
If you declared referenced object before using them all work fine. But if you using before declaration, exception throwed.
As I understand if Alice could not resolve object first time, it throws `UnresolvableValueException` (f.e here https://github.com/nelmio/alice/blob/master/src/Generator/Resolver/Value/Chainable/FixtureWildcardRefer

[2017-04-11 09:15] theofidry commented on #678
Indeed you can see [here](https://github.com/theofidry/AliceDataFixtures/blob/master/src/Loader/MultiPassLoader.php#L101) that it only catch `UnresolvableValueException`, but it should also catch `FixtureNotFoundException`.

Actually another workaround, more correct semantically, would be to have a sub `FixtureNotFound` implementing `UnresolvableValueException` used in the context of resolvers.

@

[2017-04-11 09:56] ossinkine commented on #678
@nietzcheson please check out my fix and let us know it works for you or not

[2017-04-11 13:26] #678 closed

[2017-04-11 13:29] theofidry commented on #678
The patch has been released in [nelmio/alice v3.0.0-beta.5](https://github.com/nelmio/alice/releases/tag/v3.0.0-beta.5). @nietzcheson please double check that this solves your issue :)

[2017-04-12 07:14] ossinkine commented on #678
@theofidry composer doesn't see the new beta release, only beta4, I can't check

[2017-04-12 15:56] nietzcheson commented on #678
@ossinkine  and @theofidry with this [pull](https://github.com/nelmio/alice/pull/713) this is solved.

My solution was to rename the files. At first the entities went, last what was related. Example:
[code]
Thanks!

[2017-04-25 14:06] NerdyProjects opened #722 "unique constraint causes duplicate related fixtures"
I have an entity (StoreTeam) that has a ManyToOne Relation to a user:
[code]

I generate some user objects:
[code]

And my StoreTeam entries, whereby I want a random set of foodsavers inserted, but not more than once each:

[code]

I Already tried using @foodsaver* leading to the same behaviour.

That is:
I get the foodsavers inserted another time. All 3 objects that are used in the relationship g

[2017-04-25 14:07] NerdyProjects commented on #722
Ah, I'm using
`nelmio/alice                         v3.0.0-beta.5`
with AliceBundle and `theofidry/alice-data-fixtures        v1.0.0-beta.4`

[2017-04-25 14:13] theofidry opened #723 "Move deep_clone function to alice namespace"

[2017-04-26 22:28] theofidry commented on #722
That's quite surprising.

I'm not sure if I can provide much help here however. It's more a doctrine issue (as how you use it). Alice simply transforms your files in a list of PHP objects and AliceDataFixtures does a `persist()/flush()` behind.

I can only recommend you to:

1. check that the objects generated by alice are the one that you expected
2. check how the persist is done if that fits you

[2017-04-26 22:28] #722 closed

[2017-04-28 10:38] alekslauda opened #724 "The ReferenceEscaperLexer will not escape when there is a number before `@`."
Using emails like `email1@example.com` are not escaped by the ReferenceEscaperLexer.

https://github.com/nelmio/alice/blob/master/src/FixtureBuilder/ExpressionLanguage/Lexer/ReferenceEscaperLexer.php#L47

[2017-04-28 13:25] theofidry commented on #724
@alekslauda would you mind opening a PR to fix it? I don't think this should be too hard

[2017-05-02 14:40] thewholelifetolearn opened #725 "property of template not available in class as variable"
First of all, for the context:
- Alice in version 2.3.1
- PHP 7.1.0
- Symfony 2.8.16

I'm want to create fixtures for my project by using [templates](https://github.com/nelmio/alice/blob/2.x/doc/fixtures-refactoring.md#fixture-inheritance) and [variables](https://github.com/nelmio/alice/blob/2.x/doc/fixtures-refactoring.md#variables).

As in the example for the variables, I have a date of submissi

[2017-05-02 14:47] theofidry commented on #725
🤔

I can't remember what's the behaviour on 3.x. If it works there, then cool. If not it's a feature request. But in either case it's unlikely to land in 2.x unless someone is willing to work on it (I'm not sure of how scopes are handled in 2.x) and it would require to add support for it in 3.x as well.

[2017-05-02 15:06] thewholelifetolearn commented on #725
I have not tried the 3.x version as I need a stable version for professional reasons.

I do understand that the feature would be added in 3.x and not 2.x. That is not problem as for the moment I have found a work around but it would be great that this feature is added in a new release.

[2017-05-02 17:08] theofidry commented on #725
This indeed works fine in 3.x. So unless someone is willing to work on this, it won't be backported on 2.x.

Dunno if it can help, but FYI 3.x is quite stable even though a stable release is not out yet. There has been a few BC changes and bug fixes, but they won't affect you unless you go _really_ deep in the library (thing you cannot really do in 2.x in any case tbh) :)

[2017-05-02 17:08] #725 closed

[2017-05-06 15:29] theofidry commented on #724
Note that it's a known issue and can be fixed by escaping it manually: `email1\@example.com`

[2017-05-06 15:53] #723 closed

[2017-05-06 16:53] #684 closed

[2017-05-07 14:47] theofidry commented on #569
I scrapped my head around it and I see only two solutions:

- have a special syntax to escape a full string, but it's gonna be ugly as you have the risk of having the escaped string containing the ending delimiter for the escape, so it won't escape properly the string
- escape manually everything (a bit tedious)
- have a faker provider function to generate your html (by far the easiest way)

[2017-05-07 14:47] #569 closed

[2017-05-07 15:00] theofidry commented on #513
I actually think it's useless: you can already do that by decorating the object generator.

[2017-05-07 15:00] #513 closed

[2017-05-07 22:46] theofidry commented on #629
Closing in favour of https://github.com/nelmio/alice/issues/388 which has been updated. And with that, #388 will be the only remaining issue to be able to release 3.0.0 :)

[2017-05-07 22:46] #629 closed

[2017-05-08 06:15] jeremy-smith-maco opened #730 "Using a parameter in the fixture range"
Is it possible to use a parameter in the fixture range in Alice 2.x?

Example:
[code]

I have been trying several different methods to get this working but no luck. If it does not currently work, can I request it as a feature for 3.x? Also, the parameter, <{total}>, is dynamic so it will change all the time. I just set it to 150 for the example but you get the gist of it.

[2017-05-08 08:09] theofidry commented on #730
This is not supported in neither 2.x and 3.x, and I'm not sure it should. But if people really find it a must then let's let them show their interest here.

[2017-05-08 22:30] jeremy-smith-maco commented on #730
Darn. That's okay. I'll just have to have a static limit for the amount of users that can be created instead of being dynamic. Something like:

[code]

[2017-05-09 22:01] theofidry opened #732 "Add support for various type of method calls"
The current implementation of `CallerInterface`, `SimpleCaller`, is too simple and is missing a few features it should support:

- Optional calls (need to check if they are well respected for the constructor/factories as well)
- Have an extension point to handle calls differently depending of the flags they have (use case: #731)

[2017-05-16 21:38] robertkabat commented on #730
I think that would be a great feature. Very useful for writing tests in Symfony.

[2017-05-16 22:33] theofidry opened #736 "Prepare 3.0.0 release"
- [ ] Complete the [3.0.0 Milestone](https://github.com/nelmio/alice/milestone/3)
- [ ] Review doc
- [x] Review test coverage
- [x] Review code quality with [Humbug](https://github.com/humbug/humbug)
- [x] Review code quality with [PhpStan](https://github.com/phpstan/phpstan)
- [x] Review changelog
- [x] Review code for inconsistencies
- [x] Add doc for BC policy (mention `@private` or `@internal`

[2017-05-17 08:35] #732 closed

[2017-05-19 19:59] #388 closed

[2017-05-24 16:45] AlessandroMinoccheri opened #742 "Set field fetched from database"
I would like to set a field with an already existing field from the database imported with a dump for example.

I have tried with this for example like the issue #598 :

`<entity_reference("Some\Class\Name", 100)>`

But returns me an error that doesn't exist entity_reference

Does exist a way to fetch an entity from the database that already exists?

[2017-05-25 08:37] theofidry commented on #742
That's because you need to write your own `<entity_reference()>`, it's a custom faker method cf. https://github.com/nelmio/alice/blob/master/doc/customizing-data-generation.md#custom-faker-data-providers

[2017-05-25 08:58] AlessandroMinoccheri commented on #742
Thanks for the help! I will try It

[2017-05-25 08:58] #742 closed

[2017-05-26 09:23] sensorario opened #743 "Link to "Reuse generated data using objects value" is missing"
Consulting [this documentation page](https://github.com/nelmio/alice/blob/master/doc/customizing-data-generation.md) I've seen that the link to "Reuse generated data using objects value" is missing. Well, ... the link is not missing, but the documentation. So, ... I need to reuse generated data from a SQL DUMP and I need to read this missing documentation.

[2017-05-26 11:16] theofidry commented on #743
Actually the link should be removed as the content became obsolete as of 3.0.0: https://github.com/nelmio/alice/commit/4134579c950108564c9c47679be87a837898c062#diff-21790792d116b910b2a565c26d80b95d

[2017-05-31 09:49] Zayon opened #744 "Unique Constraints on several fields"
Hi,

Is it possible to have a unique constraint on multiple fields ?

For example

[code]

So it prevent 2 users to have the same lastname AND firstname but they can have the same lastname or the same firstname

Thanks.

[2017-05-31 11:12] theofidry commented on #744
Composite unique fields are not supported atm, but if it's for such a specific case you could implement it yourself by using a custom faker provider

[2017-05-31 11:18] Zayon commented on #744
Thanks, I'll take a look at this, is there any doc on how to do that ?

[2017-05-31 11:21] theofidry commented on #744
Yep, you can find some doc here: https://github.com/nelmio/alice/blob/master/doc/customizing-data-generation.md#custom-faker-data-providers (it's a similar path for 2.x as well in case you're not using 3.x)

[2017-06-02 19:05] BrownSim opened #745 "DateTime manipulation"
Hello, I have a question, I try to manipulate date and I do not think it is possible

That can be usefull :
[code]

Thanks

[2017-06-02 23:51] theofidry commented on #745
I understand that it looks nice on paper, but I see big issues regarding the DSL syntax which I don't think is worth.

You can always have a custom Faker provider to do:

[code]

[2017-06-02 23:51] #745 closed

[2017-06-05 19:59] maches opened #746 "Foreign key constraint on many to many relation"
Hi,
I have an error when I try to add elements to many-to-many relation.
There are fixtures:
[code]
And error:
[code]
I tried to solve this problem with (unique), but got another error. It's about 150 attempts.
Am I miss something? How I can solve this?
Thanks.

[2017-06-05 21:02] theofidry commented on #746
Hi,

I think the error error is rather straight-forward: you have two objects with the same ID. So which entity and what are the values supposed to be I can't guess, but I think you'll have the answer by inspecting the generated objects to see if they match what you expected.

Also the `(unique)` doesn't work for arrays in 2.x (fixed in 3.x)

[2017-06-05 21:34] maches commented on #746
@theofidry, thank you for your help!
I use 3.0.0-RC.0.
I expected that adding more than one object would not duplicate the existing ones in this array. I assume that there are duplicates among the added objects. Is it possible?
I will try to get as much information as possible and let you know.

[2017-06-05 21:56] maches commented on #746
[code]
First and last element are equal. Is this normal?

[2017-06-05 22:48] theofidry commented on #746
@maches I don't know how your `subject_name()` method works but one problem seems to come from there as it looks like it returns multiple time the same value.

However it's unlikely to be the root of the issue has your issue comes from a duplicate primary key. Check which entity is causing this and if it's not simply because the database is not purged correctly  between each tests

[2017-06-05 23:38] maches commented on #746
@theofidry Thanks! That's it!
 I use custom Faker provider for names which return value by `current()` index.

 I expected that the elements would not be duplicated, but it's not. Is this described in the documentation? I don't remember, but IMHO should be added, if it is not.

 I think that using the built-in function `sentence()` will solve this problem, or I can filter the repeated elements in

[2017-06-05 23:44] maches commented on #746
@theofidry `sentence` won't help. Database always clear before flush. Prblem still actual.

[2017-06-06 07:16] theofidry commented on #746
Which one are you talking about? `<current()>` in your case will return `0`, `1`, ..`9`. A Faker provider can perfectly return duplicate data and if you don't want that you have to force `unique`.

So the issue is duplicate entities for `subjects`? If so `unique` solves the problem, but as you have 9 subjects for 15 activities and each activities requires 3 subjects, you won't have enough subjects

[2017-06-06 14:20] maches commented on #746
Subjects: [ Mathematics, Informatics, Mathematics ]  This example show the root of problem. Unique will not help. I have a 100+ activities on test server with quantity of subjects from 0 to 3 (someone have relation with all subjects). And there are no problems with the keys.

[2017-06-06 14:46] theofidry commented on #746
That is true only in 2.x, this has been fixed in 3.x. If you really need that and can't upgrade I recommend you to rely on a custom Faker provider: you pass it all the subjects and it does its own thing to get 3 unique subjects at each call

[2017-06-06 15:05] maches commented on #746
@theofidry , great idea! I will definitely try the proposed solution! I just need to figure out how to get all the generated subjects inside Faker provider. Thanks!

[2017-06-06 20:32] maches commented on #746
@theofidry I use 3.0.0-RC.0. When I try to use a unique, I get a huge error log. Then I increment verbosity to -vvv and get huge log and this trace after it. Maybe it helps.

[code]

Here are some messages about exceptions from a huge log without a stack trace. They are repeated many times.
[code]
So the `unique` doesn't solve my problem. And this is 3.x version!

[2017-06-07 07:49] theofidry commented on #746
You should try to debug with xdebug by marking a break point to inspect things when just before `UniqueValueGenerationLimitReachedExceptionFactory` is called, it will give you hints as why no unique value could be generated

[2017-06-08 13:49] tacman opened #747 "featureId or current() without a list to set a property"
I find myself writing a things like

[code]

In this case, I don't want to use a template, but I'd like to set the username to the feature id or some part of it.  It appears that a one-item loop doesn't work.

[code]

Ideally, I could match the featureId with something, e.g.

[code]

and have array "bob" have username set to "bob",

Even better would be if I could do

[code]

Are any of these poss

[2017-06-08 15:45] theofidry commented on #747
[code]

Should do the trick :)

[2017-06-08 15:51] tacman commented on #747
But that returns:
[code]

I also tried with <current()> and even putting the yaml key in braces.

[2017-06-08 15:52] theofidry commented on #747
but what is `featureId()` supposed to be? `<foo()>` only works if `foo` is a native PHP function or a faker formatter (and you can add custom ones)

[2017-06-08 16:05] tacman commented on #747
I want to propagate the feature ID (the yaml key in the fixtures file) to
my own database, to avoid having to type it twice.

It seems to me like it's a bug that you can't have a one-item list, e.g.
user_{bob}: { username: <current()>} doesn't work, but user_{bob, carol}: {
username: <current()>} does.

On Thu, Jun 8, 2017 at 11:52 AM, Théo FIDRY <notifications@github.com>
wrote:

[2017-06-08 16:07] theofidry commented on #747
AFAIK you can't pass `<current()>` from a template so it doesn't make sense to have it for a one-item list.

I conceive you want to access to the fixture key, but I'm not sure if it's worth doing especially in your case where the workaround is quite easy.

[2017-06-08 16:31] tacman commented on #747
By any chance, can you configure the faker formatter to receive the
featureId?

On Thu, Jun 8, 2017 at 11:52 AM, Théo FIDRY <notifications@github.com>
wrote:

[2017-06-08 16:34] theofidry commented on #747
Yes, `<foo(<@feature*->id)>` or something similar I think, there's quite a few ways to go

[2017-06-22 12:26] erichard opened #749 "Escaping value"
I haven't found in the doc but how can I escape specials characters like `$` or `@` ?

My use case is to pass a bcrypt hash to create some fake user. Alice except to find variable with the `$` in the hash.

[2017-06-22 12:49] theofidry commented on #749
The backslash `\` so `\$` or `\@`. It should be in https://github.com/nelmio/alice/blob/master/doc/advanced-guide.md#expression-language-dsl, if not would you mind opening a PR to add a mention of it?

[2017-06-24 08:43] Selion05 opened #750 "Keep Your Fixtures Dry"
Hi,

is something like the following possible?

[code]

[2017-06-26 08:02] theofidry commented on #750
Never though about it, but should be in 3.x.

[2017-06-28 08:09] #747 closed

[2017-06-28 08:10] theofidry commented on #746
Closing as it's an issue in the consumer code, not alice :)

[2017-06-28 08:10] #746 closed

[2017-06-28 15:34] norbert-yoimo opened #752 "__calls and __factory methods receive uninitialized objects"
If you have a fixture that has `__calls`, and/or `__factory`, and these methods accept an entity reference through alice, that referenced entity will be uninitialized. Example:

[code]

[code]
The `Person` entity produced by alice will have `NULL`s on `$city`, and `$country`. If you place a `var_dump($address)` inside the `createWithAddress` method, you will see that every property of `$address` i

[2017-06-28 21:52] theofidry commented on #750
This sorta works. The may issue you will encounter is that this kind of declaration depends on the order, i.e.:

[code]

However:

[code]

Which makes your fixtures extremely brittle as you have no guarantee of the order:

[code]

As you can see it's a plain associative array, no special ordering is done.

So this *can* work, but is very fragile. Now can we make this better? We could find some way

[2017-06-28 21:52] #750 closed

[2017-06-28 21:59] #744 closed

[2017-06-28 21:59] #749 closed

[2017-06-28 22:02] #743 closed

[2017-06-28 22:11] #736 closed

[2017-06-28 22:12] theofidry commented on #736
Everything is pretty much done, what's left is waiting for a period stable enough after HautelookAliceBundle has been tagged with an RC release.

[2017-06-28 23:22] #752 closed

[2017-06-28 23:27] theofidry commented on #752
Thanks for the detailed bug reported, that eased a lot the debug :)

In the end, it's not *really* a bug, if you consider the following:

[code]

This is a valid case and obviously you cannot assume the references returned will be complete as otherwise you would have a circular dependency.

However I agree that giving complete objects whenever possible should be done. I though that was the case bu

[2017-06-29 11:12] wohral opened #758 "Hot to generate OneToMany data using Nelmilo/Alice and Faker"
Hello, I am stuck and don't know where to find a solution.

I have following [relationship](https://i.stack.imgur.com/WgOkD.png)

I would like to use Nello/Alice to generate language translations for each parameter.

I am stuck because I can't found how to do it dynamically. I have 3 languages and I want to generate N parameters, and for each parameter generate language translation in all 3 langua

[2017-06-29 13:16] theofidry commented on #758
[code]

or something along those lines

[2017-06-29 14:06] wohral commented on #758
I playing arround with something like this:

[code]
But I fail on Constraint duplicity.

Another possibility is:
[code]
But this make for parameter only one translation. I would need something like multi-fields UNIQUE. Or some other way:

[code]

[2017-06-29 14:14] theofidry commented on #758
And what is the constraint exactly?

[code]

Looks all good.

That ways is very different, in what you showed me above it was about generating 20 `ParameterLang`, your last sample is about generating *60* of them.

[2017-06-29 14:24] wohral commented on #758
Hi, Theo :)

Just for explaining the situation:
ParameterLang has PrimaryKey combination of **parameter_id** and **lang_id**.

If I have 20 parameters and 3 languages (en, cs, de), I would like to generate totaly 60 ParameterLangs... for each Parameter have 3 ParameterLangs (en, cs, de).

[code]
This make for each parameter only ONE ParameterLang.
I am looking for the way, how to do something like

[2017-06-29 14:37] wohral commented on #758
I found one solution, but it's not elegant, but it works:

using by <current()> a call it manually for each language separately

[code]

[2017-06-29 14:41] theofidry commented on #758
[code]

should work as well. You cannot create a dynamic number of fixtures atm so that's the only solution you have with Alice and I think that's an acceptable solution :)

[2017-06-29 15:56] theofidry commented on #758
Closing if you have found a solution then :)

[2017-06-29 15:56] #758 closed

[2017-07-02 22:37] jeremy-smith-maco opened #759 ""Breaking changes between Alice 2.x and 3.0" link in documentation is broken"
"12.i Breaking changes between Alice 2.x and 3.0" is linking to [here](https://github.com/nelmio/alice/blob/master/breaking-changes-between-alice-2x-and-30) but should link to [here](https://github.com/nelmio/alice/blob/master/UPGRADE.md)

[2017-07-03 01:49] jeremy-smith-maco opened #760 "Cannot use two Faker functions with optional data"
Something like this fails:

[code]

Fails with the exception:

`Could not lex the value ">".`

Whereas this passes:

[code]

Was working in Alice 2.x. Currently upgrading to 3.x.

Current workaround:

[code]

[2017-07-03 02:13] jeremy-smith-maco opened #761 "Cannot access properties from object references using <current()>"
Doing this:

[code]

Throws exception: `Could not lex the value ">type".`

But this works:

[code]

Was working in 2.x.

[2017-07-03 04:34] jeremy-smith-maco opened #762 "ReflectionPropertyAccessor can access protected but not private properties of an abstract class"
Title is self explanatory. I get the exception `Could not hydrate the property "latitude" of the object "TestGeographicLocation" (class: Location\TestGeographicLocation).` if trying to hyrdate private properties but it works when using protected/public properties.

I am using a Loader that extends from NativeLoader so that it uses the ReflectionPropertyAccessor:

[code]

And the class looks like:

[2017-07-03 07:30] theofidry commented on #762
Indeed, would you mind opening a PR for it? I believe this can be fixed by changing [those lines](https://github.com/nelmio/alice/blob/master/src/PropertyAccess/ReflectionPropertyAccessor.php#L117) by checking the parent properties (recursively as several parents may be given)

[2017-07-03 07:32] theofidry commented on #761
This may be a bug in the Lexer. Frankly unlikely to be fixed unless someone is willing to check it. #733 would be another way to really fix those kind of problems as well.

Could you however check the resutl in 2.x? `->` has been introduced in 3.x and I highly doubt it works in .2x

[2017-07-03 07:33] theofidry commented on #760
Same as #761 I'm afraid :/

[2017-07-03 07:35] theofidry commented on #759
Fixed, thanks

[2017-07-03 07:35] #759 closed

[2017-07-03 22:34] jeremy-smith-maco commented on #761
`->` was in 2.x. It's in the docs [here](https://github.com/nelmio/alice/blob/2.x/doc/relations-handling.md). That code was working in 2.x. So was #760. `<current()>` should resolve before the property is accessed.

[2017-07-04 05:31] jeremy-smith-maco opened #764 "Cannot extend from a template without setting a property"
[code]

Gives exception:

`Argument 4 passed to Nelmio\Alice\FixtureBuilder\Denormalizer\Fixture\FixtureDenormalizerRegistry::denormalize() must be of the type array, null given, called in /blah/blah/blah/vendor/nelmio/alice/src/FixtureBuilder/Denormalizer/Fixture/SimpleFixtureBagDenormalizer.php on line 70`

This works:

[code]

Was previously working in 2.x.

[2017-07-04 06:05] jeremy-smith-maco commented on #762
#763 ready

[2017-07-04 08:00] theofidry commented on #761
`@ref->prop` yes but not `@ref<something()>->prop`. If it worked that was pure luck ;)

[2017-07-04 08:12] theofidry commented on #764
I'm even surprised it just parses as YAML, a more correct way would be:

[code]

For which we could update the code to allow that or deprecate that behaviour in 2.x (I'm more in favour of the later). An easy fix is:

[code]

[2017-07-04 22:33] jeremy-smith-maco commented on #764
The first code block didn't work. The second one with the empty curly braces did!

[2017-07-04 22:35] theofidry commented on #764
Yeah, I don't think we allowed that. We could either allow it in 3.x or update 2.x to add a deprecation saying `null` is no longer accepted in this case

[2017-07-04 22:37] jeremy-smith-maco commented on #764
Deprecating it in 2.x would probably be better and people can just use the `{}` in 3.x. The tilde did not work though.

[2017-07-04 22:37] theofidry commented on #764
`~` is equivalent of `null` in YAML :)

[2017-07-04 22:39] jeremy-smith-maco commented on #764
Ah, so `~` would work in 2.x but `{}` is required in 3.x.

[2017-07-04 22:40] theofidry commented on #764
Yep

[2017-07-05 00:30] jeremy-smith-maco commented on #761
So I have added this regex to `SubPatternsLexer`: `'/^(@[^\ @\<]+\<.*\>->[^\(\)\ \{]+)/' => self::REFERENCE_LEXER, // Function with property` which should detect `@ref<current()>->prop` which it does but then it gets an exception in the `FunctionTokenizer` saying `The value "@ref<aliceTokenizedFunction(FUNCTION_START__current__IDENTITY_OR_FUNCTION_END)>" contains an unclosed function.` (stack trac

[2017-07-05 04:54] jeremy-smith-maco opened #765 "Having same template names but different classes"
Currently we have two class names that are the same in different namespaces and we are using the same template names for each one in our base fixture files which many many other fixtures extend from. We could do it in 2.x with no problems but with 3.x it tries to assign properties of one of the class objects to the other one and then throws an exception for it even though they are different classe

[2017-07-05 07:39] theofidry commented on #761
To deal with nested functions, I'm using a [FunctionTokenizer](https://github.com/nelmio/alice/blob/master/src/FixtureBuilder/ExpressionLanguage/Lexer/FunctionTokenizer.php) to "flatten" a function. Otherwise it's a nightmare to detect nested functions.

In your case however, it seems like there's a bug. I'll try to apply that regex and see what we can do about it but I'm not sure when I can do th

[2017-07-05 07:48] theofidry commented on #765
How do you load those files exactly?

Also the issue seems to come from the fact that the property `twoValue` was not found in `Example\Two\Id`, not about the template names conflicting

[2017-07-05 08:15] jeremy-smith-maco commented on #765
They get loaded through `loadFile` method of the  `NativeLoader`. We have a helper class that has a `load` function which calls `loadFile` with the file name inclusive of directory along with any parameters to be injected. No parameters are getting injected in some of the files that are having this issue.

[2017-07-05 08:17] jeremy-smith-maco commented on #761
Hmmm dang. The only issue is that it is including the reference in the function string which it shouldn't be. It should probably be splitting at the opening arrow as well maybe?

[2017-07-05 08:47] theofidry commented on #761
I'm not really sure what the issue is, the tokenized function is ok, it's probably a bug in [FunctionTreeTokenizer](https://github.com/nelmio/alice/blob/master/src/FixtureBuilder/ExpressionLanguage/Lexer/FunctionTreeTokenizer.php) which maybe thinks something wrong due to the `->` (and it should not be). I don't have much to say, need to do step by step debugging to see what's going on there :)

[2017-07-05 08:49] theofidry commented on #765
I think it's worth checking the error thrown (dump it, see the previous error) to see why the hydration fail

[2017-07-05 15:34] henry-geronimo commented on #217
Maybe too late, but it was simply because order is a reserved keywords in SQL , you have to rename your column name in annotation like this.

`
    /**
     * @var int
     *
     * @ORM\Column(name="`order`", type="integer")
     */
    private $order;
`

[2017-07-09 11:33] theofidry commented on #762
Checking this again with a clear mind, I'm not convinced this is the solution. Accessing directly an object property is one thing, accessing a *parent* private properties another.

In your example I see two simple solutions which are way less hacky:

- Make those properties `protected` which reduces the level of encapsulation but it allows you to do what you want
- Don't rely on this property acce

[2017-07-09 11:49] theofidry commented on #765
I can confirm this behaviour works in 2.x as https://github.com/nelmio/alice/pull/766 shows. However this is *pure luck*.

A fixture ID is its name, the class is not taken into consideration. The reason being that in the final array objects you get it's an associative array where the fixture ID is the key:

[code]

will result in:

[code]

So one will be overridden for sure. You scenario simply ju

[2017-07-09 11:51] #765 closed

[2017-07-09 12:05] #764 closed

[2017-07-09 22:37] jeremy-smith-maco commented on #762
Those would both work but I still think you should be able to access parent private properties. If you're extending from a class, you should be able to specify the properties for that class in a fixture file even if the parent property is private. In some cases people may not want to run the constructor for the class and just want the values set.

I mean ultimately it's up to you but I think you s

[2017-07-10 00:25] jeremy-smith-maco commented on #762
Your second option didn't quite work. This is how we have it setup where `DtoObject` is just a custom DTO class we have and `$this->loader` is a class we have that ultimately runs `NativeLoader->loadFile()`:

**Fixture**
[code]

**Test**
[code]

**Error**
`Failed asserting that two objects are equal.` They have different longitude/latitude values.

[2017-07-10 22:49] jeremy-smith-maco opened #768 "Getting exception when trying to construct a Mockery object"
Exception: `Instantiated fixture was expected to be an instance of "Mockery". Got "Mockery_2_Namespace_Object" instead.`

When Mockery instantiates an object it gets a different class name which Alice thinks is incorrect because you shouldn't be able to specify one class name and instantiate a different one but in the case of Mockery it makes sense so something needs to happen with the class check

[2017-07-10 23:36] jeremy-smith-maco opened #769 "Passing in the previous exception does not display the previous message"
Exception displays `Could not resolve value during the generation process` and nothing else helpful to the user even though `$previous` is passed into the exception.

[2017-07-10 23:37] jeremy-smith-maco opened #770 "Fixture not casting to string with quotes around parameter"
[code]

Complains about second parameter being integer and not string but should be casting to a string

[2017-07-20 08:12] aistis- commented on #160
Does anyone have a working example of it? :thinking:

[2017-07-20 08:47] theofidry commented on #160
You can now do calls (on 3.x): https://github.com/nelmio/alice/blob/master/doc/complete-reference.md#calling-methods

[2017-07-20 12:28] aistis- opened #771 "Multiple dimensions array looping"
Hi, I am searching how to do something like this:

[code]

So, my expected result would be:

[code]

Any ideas?

[2017-07-20 12:35] theofidry commented on #771
Multi-dimension arrays are definitely not supported although that may be doable without too much trouble in 3.x.

[2017-07-20 12:40] aistis- opened #772 "Pick value from provided list according to reference number"
Hi, I am searching how to do something like this:

[code]

So, my expected result would be:

[code]

Any ideas?

[2017-07-20 13:01] theofidry commented on #772
Definitely not in the first form, that's a bit too magic :) You however can somewhat simulate this with a custom Faker provider:

[code]

[2017-07-20 13:02] aistis- commented on #772
@theofidry Thank you, will check the solution it :+1:

[2017-07-20 13:02] #772 closed

[2017-07-26 07:17] yann-eugone commented on #160
Not sure to see how `calls` may help with this.

[2017-07-26 07:20] aistis- commented on #160
I guess, you could use `addTranslation(@translation_1)` on your root entity. But still - you have to build this `@translation_1` object on separately as alice supports natively only flat descriptions.

[2017-07-26 07:36] yann-eugone commented on #160
You are talking about "personal translation". With MyModelTranslation model, you can do what you say (you could do this at the moment where the issue where opened).

This is not a strategy I can choose.

[2017-07-26 07:57] kariolos opened #773 "Column 'ancestor' cannot be null"
Hello , I am having problem setting up alice for entities with parent and childrens.

[code]
When I run the fixture I get
``SQLSTATE[23000]: Integrity constraint violation: 1048 Column 'ancestor' cannot be null``

In my orm.xml file I have this:
[code]

[2017-07-26 08:20] theofidry commented on #160
Sorry I may have misunderstood your case. I think you can add localised faker providers, cf. https://github.com/nelmio/alice/blob/master/doc/customizing-data-generation.md#localized-fake-data.

That said I'm not entirely sure about how you register a faker provider only for a specific local.

[2017-07-26 13:35] theofidry commented on #773
It's possible that your setters doesn't set the relationship the other way, I recommend you to take a look at the generated PHP objects to see if they are set as you expect them to be

[2017-07-27 00:19] theofidry commented on #762
Your test as it is should work. The point of private properties with inheritance is to guarantee you cannot touch them, touching them is opening up the door to very very weird behaviour.

If your piece of code above is failing, could you try to isolate it? This looks really suspicious, I mean it clearly shouldn't fail

[2017-07-27 00:26] jeremy-smith-maco commented on #762
I can try and isolate it. How are users meant to test abstract classes with private properties without changing it to protected/public?

[2017-07-27 00:45] theofidry commented on #762
You're not supposed to or rather you test their behaviour in the child class, that's the point of encapsulating it that way

[2017-07-27 00:54] jeremy-smith-maco commented on #762
It seems like a lot more work without having the ability to set the private properties of a class. We have hundreds of classes with private properties and without having the ability to set them in our fixtures we would have a lot of extra code to construct these objects as well as set private properties through setter methods.

Even if you don't end up allowing private properties to be set we will

[2017-07-27 00:57] theofidry commented on #762
I just don't think that's the way to go. If you have private properties in a parent class, it means you have a way to set those properties through the child class otherwise something looks fishy.

To be clear, it may be a legitimate answer for your case to set directly the private properties of a parent class. I don't think it's a good thing to do, but it may be the most cost-effective one. If tha

[2017-07-27 01:05] jeremy-smith-maco commented on #762
It may well have to be an in-house solution for us. The main use for our fixtures is to have ready to go objects constructed for us to test our code with. Seems fairly redundant in those cases if we have to construct the objects and set all the properties we need which would just create a lot of extra code when we could just set the properties straight from the fixtures.

[2017-07-27 01:07] theofidry commented on #762
Unless I missed something, as in the first example shown, you should be able to easily set the values of those private properties

[2017-07-27 01:09] jeremy-smith-maco commented on #762
Yeah that is just a basic example.

[2017-07-31 07:09] marina-endouble commented on #645
Hi @theofidry ,
I keep getting the error with code like this:
<randomElement(array('facebook','instagram','vkontakte'))>
My alice version is v3.0.0-RC.1
The error message:   Type error: Argument 1 passed to Faker\Provider\Base::randomElements() must be of the type array, string given, called in /var/www/vendor/fzaninotto/faker/src/Faker/Provider/Base.php on line 205

[2017-07-31 07:15] theofidry commented on #645
`<randomElement(<(array('facebook','instagram','vkontakte'))>)>` might work

[2017-07-31 08:38] marina-endouble commented on #645
That also didn't work :(
[Nelmio\Alice\Throwable\Exception\FixtureBuilder\ExpressionLanguage\MalformedFunctionException]
  The value "<(array('facebook'" contains an unclosed function.

[2017-07-31 08:42] theofidry commented on #645
Better go for [@dominics' solution then](https://github.com/nelmio/alice/issues/645#issuecomment-292067265) or submit a PR to make it work :/

[2017-07-31 09:52] marina-endouble commented on #645
@theofidry yep @dominics' solution work
And I'll go with PR soon :)

[2017-07-31 10:21] theofidry commented on #645
Thanks :) Take a peak at the contribution guide if you need some hints on where are different stuff, you can also reach me out on Slack (the channel is on the readme)

[2017-07-31 15:44] marina-endouble commented on #645
Sorry I didn't find your slack channel mention :P
But just one question: should I create a PR via fork? I'm asking as now it doesn't let me push my branch in alice repo directly

[2017-07-31 17:27] theofidry commented on #645
It should be a link on the readme on the Slack badge.

Regarding your other question yes :) IIRC there is a github contributing
guide  which gives a good example. You'll need to fork the project, push
your changes on it and open a pull request.

Sorry I can't provide any link from my phone :/

On Mon, 31 Jul 2017 at 16:45, marina-endouble <notifications@github.com>
wrote:

[2017-07-31 23:24] marinoska commented on #645
@theofidry thank you very much, I've done :)

[2017-08-01 22:53] #645 closed

[2017-08-01 22:55] theofidry commented on #773
Closing for now. Feel free to open a new issue once you find something a bit more specific

[2017-08-01 22:56] theofidry commented on #768
I think we should change the class check for an instance of instead. It makes more sense for proxies or factories.

@jeremy-smith-maco would you mind opening a PR for it? This one should be relatively easy

[2017-08-01 22:58] theofidry commented on #769
I'm not sure what should be done here. Maybe take a look at the verbosity when running your command.

If it's directly in the code, it's at PHP level. Maybe there's a setting for it otherwise the way to go is do step by step debugging and inspect the exception

[2017-08-01 22:58] jeremy-smith-maco commented on #768
Sure thing.

[2017-08-01 23:00] theofidry commented on #770
I think the idea here is that when evaluating an expression, we don't try to guess if it's a float or a string. But it looks like this is going slightly too far and systematically transform it into a string.

Did you check if there's a quick fix for it?

[2017-08-01 23:01] jeremy-smith-maco commented on #769
I was just running a standard PHPUnit test suite. Ended up having to do step by step debugging but it should display a move helpful exception message rather than having to debug each time that message occurs.

[2017-08-01 23:03] theofidry commented on #769
The problem is that resolving a value can be far from trivial and having just the previous error message is very rarely enough, so in any case you need the whole stack trace. The question is if it can be displayed easily or not, but I'm not sure this is something that can be done at alice level

[2017-08-01 23:03] jeremy-smith-maco commented on #770
No, I haven't really looked into it.

[2017-08-01 23:06] jeremy-smith-maco commented on #769
Yeah, it just doesn't display anything helpful in the message. The stack trace is helpful but a better error message saying exactly what's wrong would be nice but if it's not possible then oh well.

[2017-08-01 23:08] theofidry commented on #769
Well that's the issue, it's hard to tell :)

It's an error that shouldn't happen and is very contextual, so rather than trying to be fancy and completely wrong, I've opted for a generic error message with the proper stack trace.

I understand it can be a bit frustrating, but in my experience at least it's very hard to have an error message that is somewhat helpful here

[2017-08-01 23:11] jeremy-smith-maco commented on #769
When I was upgrading 2.x to 3.x I was just using the `$previous` variable as the exception message which seemed to prove pretty helpful in my case as I didn't have to debug each time.

[2017-08-01 23:14] theofidry commented on #769
If you want to you could append the error message of the previous version to it, it's just that I never found it enough :P

[2017-08-01 23:17] jeremy-smith-maco commented on #769
I guess it's just a case-by-case sort of thing lol.

[2017-08-03 09:22] marinoska commented on #701
Hi @theofidry I see it comes from the same code as #775 645 as parsing arguments relies on this regexp:
preg_match_all('/\[[^[]+\]|[^,\s]+/', $argumentsString, $argumentsList);
And I have no idea how to extract arguments correctly from such pattern as
<f(<g(<b()>, e)>, d, <c()>)>
using only regexps.
I can fix it looping over the symbols in the argument string but you might have already had such a

[2017-08-03 09:28] theofidry commented on #701
I partially tackled that one by tokenizing functions (that's what the `FUNCTION_START__function__` was about: https://github.com/nelmio/alice/blob/master/tests/FixtureBuilder/ExpressionLanguage/Lexer/LexerIntegrationTest.php#L456).

That's clearly not enough and your fix may have helped. But as you said it's a problem were regexes are bad at. A cleaner solution would be #601 and #712. I believe @H

[2017-08-04 12:49] kariolos commented on #773
When I insert data through the form everything works fine,so I think the objects and mapping are fine.
The weird thing is that I have another `Entity` with `ancestors `and `descendants` and don't get that error.

Anyway use this workaround but I was curious why this is happening.

- Drop Database
- Create Database
- Update Schema
- Set the ancestor field to allow `null `on `productCategoryClosure

[2017-08-04 12:58] theofidry commented on #773
that does sound weird, but I can't tell what's the issue. Maybe try to look how the properties are actually being set and how they can be null. Also note that it changes depending on which version you are using

[2017-08-04 13:16] kariolos commented on #773
- doctrine/doctrine-fixtures-bundle    2.3.0
- doctrine/orm                         v2.5.6
- fzaninotto/faker   v1.6.0
- gedmo/doctrine-extensions    v2.4.30
- hautelook/alice-bundle   v1.4.1
- nelmio/alice                         v2.3.1

[2017-08-04 14:02] theofidry commented on #773
It may set the property directly if it cannot via the setter in 2.x, so watch out on how the property is actually set

[2017-08-08 07:06] umahanov opened #776 ""The annotation "@user" was never imported " exception"
I'm using Doctrine Annotations Reader. And it tries to read all annotations, including this package. And here we have an error because of @user in comments, which it tries to recognize as annotation.

`[Doctrine\Common\Annotations\AnnotationException]   `

`
    [Semantical Error] The annotation "@user" in method Nelmio\Alice\FixtureBuilder\ExpressionLanguage\Parser\TokenParser\Chainable\DynamicAr

[2017-08-08 09:31] theofidry commented on #776
You could give a concrete example? I don't understand how the `@` can be interpreted as an annotation

[2017-08-09 00:29] jeremy-smith-maco commented on #768
It already does an `instanceof` check: `if (false === $instance instanceof $class)`. Mockery is failing because it requires the factory method `mock` but that method produces an instance of `Mockery\MockInterface` which is what causes the exception because it's not actually an instance of the specified class.

[2017-08-09 08:49] theofidry commented on #768
ah, but then you are specifying the wrong class:

[code]

[2017-08-09 14:11] iBasit commented on #773
I'm getting same error.

[code]

[2017-08-09 14:19] theofidry commented on #773
@iBasit I'm sorry but I cannot really help without more informations. As I said at some point the easiest way to go is to look at the generated objects to see what is wrong and eventually check how the properties are populated( see Populator in 2.x or Hydrator in 3.x)

[2017-08-09 14:23] iBasit commented on #773
This error is coming on 3-dev version.

Error is on `dateTimeBetween` parsing, when it is parsing the values,  it takes single or double quotes into the actual values.  Lets take following example:

if values are  `<dateTimeBetween('-12 months', 'now')>` it will take value `-12 months` as `'-12 months` and or `'-12 months,  now`.

You will either get time zone error or the above error.

[2017-08-09 14:31] theofidry commented on #773
@iBasit could you try to reproduce it by adding a test to `LoaderIntegrationTest`?

[2017-08-09 14:39] iBasit commented on #773
https://github.com/nelmio/alice/blob/master/tests/Loader/LoaderIntegrationTest.php#L448

You can add quick test if you like, not sure why there is `strrev ` function being used on the test, seems so pointless.

But I found the solution to this, not a proper solution, but remove space from the string, then it will work, with space it will not parse proper and throw errors.

[2017-08-09 15:08] theofidry commented on #773
Well, right now I cannot which is why I'm asking :)

A simple test to ensure a call to a PHP native function works

[2017-08-09 15:10] theofidry commented on #773
@kariolos I can try to have a look at it later in 3.x but for 2.x there's nothing I can do. PRs & patches are still welcome, but I'm not willing to actively work on that version anymore

[2017-08-09 15:10] iBasit commented on #773
2.x is working fine, all my fixtures were working fine on 2.x, only 3.x needs fixing :)

[2017-08-09 15:20] theofidry commented on #773
@iBasit @kariolos is in 2.x not 3.x so it looks a bit different

[2017-08-09 16:54] iBasit opened #777 "3.x — as no identity/no id values set. It cannot be added to the identity map."
I have two entities.

user (entity 1)

- id  (primary key)
- name

detail (entity 2)

- user (primary key, which is from user entity)
- address

When running fixtures with

    detail_{1..10}:
        user:             "@user_<current()>"

I get the following error

Please note that this was working fine on `2.x`

Stackoverflow links
https://stackoverflow.com/a/30404503/75799

[2017-08-09 22:01] theofidry commented on #777
That sounds weird. There is indeed a difference at the persistence level for Alice 3.x: it has been moved to theofidry/AliceDataFixtures, but as you can see, it doesn't do much: https://github.com/theofidry/AliceDataFixtures/blob/master/src/Loader/PersisterLoader.php#L77.

Did you use a special config option in 2.x or something?

[2017-08-09 23:29] iBasit commented on #777
Nope, nothing special other than Custom Faker providers, which was easily switched over with new implementation.

Not sure what to do for above error, which is very important to fix. Any suggestions?

[2017-08-10 02:04] jeremy-smith-maco commented on #768
Yep, that is correct haha.

[2017-08-10 02:04] #768 closed

[2017-08-10 07:24] theofidry commented on #777
I've never seen that error before, did you find a way to reproduce it somewhere?

[2017-08-11 00:00] iBasit commented on #777
I have reproduce the problem at https://github.com/iBasit/alice-problem.git

you can download and quickly run and check the output.  it has minimum files required.

I hope you can help on this. Thank you

[2017-08-13 11:28] iBasit commented on #777
Any luck how I can fix this?

[2017-08-13 15:02] theofidry commented on #777
Soz I'm a bit busy this w/we with my moving I couldn't check yet.

[2017-08-14 13:32] iBasit commented on #777
**Off Topic**
That must be soo much hassle arranging dates and movers van and help.  If you haven't booked any van, then try https://www.deliveryd2d.com they have good customer service, which helps a lot, they take care of everything on low cost.

**Back on Topic**
Please take a look at it when you get a chance, our work is being held because of this deadlock. Anyway, Thank you and appreciate all

[2017-08-14 13:52] theofidry commented on #777
Thanks I'll check it out :)

I'll try to have a proper look in the evening, but otherwise it will take longer.

Is it expected that `Detail` has no id? that looks weird

[2017-08-14 15:01] iBasit commented on #777
Thanks.

Yes detail is using parent primary key as the primary key, rather than its own. It's one to one relationship.

[2017-08-15 12:01] iBasit commented on #777
I did have a look at the doctrine2 issue before I posted here, they head phpdoc error.

I was trying to dig in and I found the error is generated by following line
https://github.com/theofidry/AliceDataFixtures/blob/788b8364e5e7fdd527376c06863c4dce2550b456/src/Loader/PersisterLoader.php#L85

I'm not sure how to fix this issue, this issue did not exist previously on 2.x

[2017-08-15 12:24] theofidry commented on #777
Ok I pinned down the issue.

The issue is really what is described in the [StackOverflow question](https://stackoverflow.com/questions/39567907/doctrine-prevent-double-flush-on-using-identity-through-foreign-entity). In you case what you need to do in raw PHP is:

[code]

Now to make it work, there is several solutions. A first one would be to create your own `PersisterLoader`:

[code]

As you can

[2017-08-15 14:24] theofidry commented on #777
Also note that if it was working in 2.x, that was by cheer luck.

[2017-08-15 14:46] iBasit commented on #777
I have tried the second solution with the above code. I got following error stating user is new entity and not the one that has already been persist/saved.

![image](https://user-images.githubusercontent.com/34341/29320932-bcbdfe96-81d0-11e7-89e0-7db1ac0817e6.png)

[2017-08-15 15:03] theofidry commented on #777
You missed that bit:

But I would rather recommend the second solution

[2017-08-15 18:42] iBasit commented on #777
I have overridden the class, but on run time, it loads the overridden and then after loading all the files it loads the old `ObjectManagerPersister` in the class.

I have committed the changes. Do you think there is still some other bug?

[2017-08-15 22:15] theofidry commented on #777
I need to take a proper look but I can't right now. If you override the service (i.e. declare you own service with the same service ID) it should work though.

[2017-08-15 22:26] iBasit commented on #777
I agree, If you check following service file which I committed on the the alice-problem git repo, it has same service id. it loads fine on first load, but on second load it takes the old service..

service names
https://github.com/iBasit/alice-problem/commit/ef0cf73767f64d44e721c347768303f78b5432d8#diff-1728bfc1c274f341afc1a0275fca694d

[2017-08-15 22:48] theofidry commented on #777
What do you mean by second load? Just in case also double check you deleted the container

[2017-08-15 23:02] iBasit commented on #777
Sorry, what I mean is when it runs `PersisterLoader` it loads the new `ObjectManagerPersister` fine, but after loading all the datafixtures `yml` files, then it loads old `ObjectManagerPersister`, which uses `persist` and `flush` method.  Not sure why its loading old `ObjectManagerPersister` after it has already loaded the new `ObjectManagerPersister`.

[2017-08-16 12:39] theofidry commented on #777
Sorry I forgot to post my message yesterday, see https://github.com/theofidry/alice-problem/commit/14bf2e0c2b8379ee0950a4a6aba35044a9681838.

Arguably there is some design issues:

- Missing alias for persister in FidryAliceDataFixtures to easily override it
- Add a persister factory for e.g. DoctrineOrmLoader in HautelookAliceBundle

Can't do much atm, but PRs are welcome :)

[2017-08-18 11:26] iBasit commented on #777
Thank you so much, this helped a lot.  I had an issue with purger also, but manage to fix it.

[2017-08-18 11:40] theofidry commented on #777
Let's keep the issue open as they are some changes to be made to make it easier :)

[2017-08-18 11:47] iBasit commented on #777
Great!  — Just heads up, if there is a relationship in sync with detail to other entities, this fix will effect them also, so one would have to persist them as well.

My example was `user` to `affiliate` and then `affiliate sub relationships`

[2017-08-25 13:36] danut007ro opened #779 "Deprecation notices when using gedmo nested tree"
Hello,

It's my first time using Alice, so bear with me. I'm loading some fixtures that are using nested tree from gedmo doctrine extensions. I get deprecation notices that were introduced in https://github.com/nelmio/alice/pull/607
Since I don't want to expose **lft**, **rgt**, **lvl** properties from entity as public or with setters, how can I get rid of the deprecation notices?

Thank you.

[2017-08-26 01:32] simshaun opened #780 "Email address causes Alice to look for a fixture file"
Odd problem. I was on 3.0.0-RC.1 and tried updating to dev-master, but it still bugs out.

My fixture file is as follows, somewhat matching the [example provided in the docs](https://github.com/nelmio/alice/blob/master/doc/complete-reference.md#yaml):

[code]

and trying to load fixtures results in:

[code]

Setting a breakpoint and stepping through, I see that the email property is being parsed i

[2017-08-26 09:23] theofidry commented on #780
regexes for emails are difficult, I think the easiest way is either to check if we have non empty a `STRING_TYPE` token immediately followed by a `SIMPLE_REFERENCE_TYPE`, we could transform the reference into a string.

Alternatively just escape it: `disabled1\@example.com`

[2017-08-26 09:27] theofidry commented on #779
Hi,

They are deprecated because you can't access them (private/protected properties) out of the box anymore. You will either have to change the accessor (cf. [this link](https://github.com/nelmio/alice/blob/master/doc/advanced-guide.md#custom-accessor)) for another one or declare your own.

TL:DR; it's ok, it just means you'll have to change things a little if you upgrade

[2017-08-26 10:55] danut007ro commented on #779
Thanks, that's clear enough.

[2017-08-26 10:55] #779 closed

[2017-08-28 21:01] simshaun commented on #780
This would be a new lexer that comes after `SubPatternsLexer`, right, or would it just be a part of the `SubPatternsLexer`?

I'll have to try this tomorrow. Not sure I like having to escape the @ symbol, but if it works it works.

[2017-08-28 22:59] theofidry commented on #780
A simpler way I think would be to decorate the lexer and modify the list of tokens accordingly. IIRC this is already done somewhere to transform all the successive `STRING_TYPE` tokens into one. I don't remember exactly where, but that's within the lexer for sure

[2017-08-29 14:49] mrmkrs opened #781 "MalformedFunctionException when using two functions and text"
Hi,
I found some constructions where the parsing / tokenizing stuff does not work properly and throws an MalformedFunctionException.

[code]

The exception:
[Nelmio\Alice\Throwable\Exception\FixtureBuilder\ExpressionLanguage\MalformedFunctionException]
  The value ")>)> test <aliceTokenizedFunction(<nl_NL:firstName(" contains an unclosed function.

Also broken:
[code]
 [Nelmio\Alice\Throwable\Exce

[2017-09-06 17:37] msypes opened #782 "Can't use multiple brackets in strings?"
Similar to [another issue with percentage signs](https://github.com/nelmio/alice/issues/665), I'm getting errors trying to use strings with multiple brackets in them.
I've got `"nelmio/alice": "v3.0.0-RC.1"`
and some fixtures with values like this: '[[1,4],[2,5]]', which throws

`[Nelmio\Alice\Throwable\Exception\FixtureBuilder\ExpressionLanguage\LexException]
  Could not lex the value "[[1,4],[2,

[2017-09-07 00:52] simshaun commented on #780
Looking at this issue again, couldn't the regex just be changed to `(.+?)@`?

The goal is to escape any @ symbol that isn't at the beginning of a string. It works against the following lines:

![image](https://user-images.githubusercontent.com/379519/30140825-2f9e73fc-9345-11e7-95f7-2fc4dd6e176f.png)

[2017-09-07 03:00] simshaun commented on #780
Turns out the string merging is done in the `StringMergerParser` instead of a lexer.

I created a PR that does what I think you're saying. It seems kinda complicated compared to changing the regex in `ReferenceEscaperLexer` to check for numbers too, but I leave that decision up to you.

[2017-09-07 08:01] theofidry commented on #782
I see nothing wrong with your notation so I guess it's just a mistake in the lexer that doesn't handle well nested arrays. Maybe `<([[1,4],[2,5]])>` will work better

[2017-09-07 16:09] msypes commented on #782
Thanks, but that didn't work either. I've tried simplifying my file to test one thing at a time, and none of my strings that look like arrays are getting properly escaped:

- `'\["1-2", "3-4", "5-1", "2-3", "5-4", "1-3", "2-5", "4-1", "3-5", 4-2"]'` -> Array to string conversion error
- `'\[1,4]'` -> Array to string conversion error
- `'\[[1,4],[2,5]]'` -> Could not lex the value "\[[1,4],[2,5]]"

[2017-09-07 16:36] theofidry commented on #782
oh I see, I misunderstood then: `<("[[1,4],[2,5]]")>`, `<()>` is basically an eval so that should work...

I'm mildly surprised that it's failing on nested arrays but the 2nd example is more concerning

[2017-09-07 17:09] msypes commented on #782
Thank you!
`<("[[1,4],[2,5]]")>` works.

Never mind about the `'\[1,4]'` and `'\["1-2", "3-4", "5-1", "2-3", "5-4", "1-3", "2-5", "4-1", "3-5", 4-2"]'`. Those **do** work. (It turned out I hadn't simplified things enough, and the array to string conversion errors were coming from another source.

[2017-09-12 12:59] SpartakusMd opened #785 "Update relations handling docs"
Alice has a [relation handling](https://github.com/nelmio/alice/blob/master/doc/relations-handling.md), via which you can reference object in fixtures or a field from an object. One feature was getting the auto-generated ID. For this, it was required to put the fixtures in distinct files :

This is working in 2.x. As the 3.x had a big refactor, these feature doen't work anymore.

Please update the

[2017-09-12 20:37] theofidry commented on #777
Moved the issue to the right repository: https://github.com/theofidry/AliceDataFixtures/issues/50 :)

[2017-09-12 20:37] #777 closed

[2017-09-12 20:39] theofidry commented on #776
Closing for inactivity. Feel free to provide more information in which case I'll re-open the issue or open a new issue for it.

[2017-09-12 22:06] theofidry commented on #770
Actually that won't work. `'<{dateScheduled}>'` just says "get the parameter called `dateScheduled`. Here `dateScheduled` is the _integer_ `1481592275`. If you want it to be a string it should be `'1481592275'`.

[2017-09-12 22:08] theofidry commented on #769
Closing for now as I really don't have a good solution for it and not really willing to spend too much time on it. If someone has a good idea he can give it a stab though :)

[2017-09-12 22:08] #769 closed

[2017-09-12 22:10] theofidry commented on #762
Back to this. I still don't think that's a good solution. For your specific use case, having a custom hydrator is the way to go, but having one in the core is IMO a bad idea. One reason 3.x has been refactored as heavily is because 2.x was way too permissive and was creating too many wtf. I'm not keen to do that again for 3.x.

TL:DR; Rolling your own thing for dirty stuff is ok :)

[2017-09-12 22:10] #762 closed

[2017-09-12 22:14] #770 closed

[2017-09-12 22:14] #773 closed

[2017-09-12 22:14] #785 closed

[2017-09-12 22:19] jeremy-smith-maco commented on #762
We will be trying to avoid it now in our tests but will see if we actually need it once we re-factor our tests for Alice 3.x.

[2017-09-14 06:54] #780 closed

[2017-09-14 14:45] olvlvl opened #792 "TypeError: Argument 3 passed to FixtureDenormalizerRegistry::denormalize()"
Hi,

I'm upgrading to v3 and I get a lot of these, not sure it is my fault or a bug:

[code]

`Nelmio\Alice\FixtureBuilder\Denormalizer\Fixture\SimpleFixtureBagDenormalizer::denormalize` receives the following array (excerpt):

[code]

Indeed, `$reference` is an integer since the array has no associated keys.

Here follows the fixture definition (excerpt):

[code]

Is it mandatory to name fixtures

[2017-09-18 08:15] aistis- opened #794 "Chained method calls"
Hi, I am trying to call my embeddable object on a doctrine entity:

[code]

and it throws:

[code]

Is such a call supported?

[2017-09-18 11:35] aistis- opened #796 "Arithmetic action in property"
Hi, I am trying to set a current timestamp to property decreased by 100 seconds.

Something like that:

[code]

But I fail to do it properly. Any guidance on that guys? :)

[2017-09-18 12:46] theofidry commented on #796
Inside `identity`, which is what `<()>` is, the content is evaluated as a string so you should do `<(time() - 100)>` rather

[2017-09-18 12:49] aistis- commented on #796
Thank you!

[2017-09-18 12:49] #796 closed

[2017-09-21 13:37] magnetik commented on #749
I'm using alice with some strange looking strings like this : `$<$<$o$3f0wdf$>$f3fno$000ツ$>$09FSto$>`.

I've tried to escape both the `<` and `$`, but it does not seems to be enough. When using `'\$\<\$\<\$o\$3f0wdf\$>\$f3fno\$000ツ\$>\$09FSto\$>'` I have:

[code]

[2017-09-21 17:36] theofidry commented on #749
can you try `<("$<$<$o$3f0wdf$>$f3fno$000ツ$>$09FSto$>")>`? Otherwise it might be simpler to store those strings in a custom faker provider and use that instead

[2017-09-21 19:31] theofidry commented on #794
Quick upgrade :)

No such calls were not in the spec so are not supported. But maybe it would be a good idea to add it, PRs are welcome :)

[2017-09-22 09:00] kermorgant opened #797 "Reference used for ternary operator"
Hello,

Sorry if this is already answered, I've looked for existing issue about my problem but with no luck.

So, I have this working (with doctrine 2.5.11 & nelmio/alice v3.0.1)

[code]
I would like to add a legalRepresentative to an organisation only if the flag "differentLegalRepresentative" is set. But when I change the last line to this, it fails
`
        legalRepresentative: '@self->differe

[2017-09-22 09:48] theofidry commented on #797
I think the problematic part may be `@legalRepresentative_<current()>`, try `@legalRepresentative_$current` or maybe `@<("legalRepresentative".$current)>`

In any case I think there is a bug here that should be solved

[2017-09-22 10:49] kermorgant commented on #797
Thanks for the reply.

I tried the two alternatives but got those results

`        legalRepresentative: "@self->differentLegalRepresentative ? @legalRepresentative_.$current"
`

`        legalRepresentative: "@self->differentLegalRepresentative ? @<('legalRepresentative_'.$current)>"
`

[2017-09-25 09:48] Jir4 opened #798 "Two fixture referencing to each other"
Hi,

Is there a way to generate something like this ? :

[code]

I didn't find any reference to a similar needing :(

[2017-09-25 19:56] theofidry commented on #798
@Jir4 that should works in 3.0 at least

[2017-09-25 22:31] Jir4 commented on #798
@theofidry umh ok, and no way to emulate the behavior ? Or a way to have a postPersist ?

[2017-09-26 08:21] theofidry commented on #798
It may be doable with a big ugly hack, I don't know which one, but otherwise that's a design flaw in 2.x that has been addressed in 3.x.

[2017-09-26 17:19] msypes commented on #782
Thanks for marking this as a bug. I have some additional information for you:
While `<('[{"type":"foo","number": 5,"bar":"baz"}]')>` works as far as getting an actual string into the database, the format is wrong for extracting it as a JSON array using Doctrine's `json` datatype. The string ends up in the database as `"[{\"type\":\"foo\",\"number\": 5,\"bar\":\"baz\"}]"`, _i.e._, surrounded by quo

[2017-09-26 18:01] msypes commented on #782
Yes. **If** I apply `json_decode`.
The `json` datatype provided by [Doctrine](http://docs.doctrine-project.org/projects/doctrine-dbal-en/latest/reference/types.html#json) is supposed to return the array without the need for `json_decode`. At least if I _correct_ the escaped string to what I posted above, Doctrine returns it as an array.

[2017-09-26 18:09] theofidry commented on #782
[From what I see](https://github.com/doctrine/dbal/blob/master/lib/Doctrine/DBAL/Types/JsonArrayType.php#L44) it _does_ a `json_decode`.

[2017-09-26 18:25] msypes commented on #782
If had to guess, it's the surrounding quotes that are messing things up, requiring me to do my own `json_decode`.
I have been able to readjust my fixture data to function as I want/expect, so I'm OK. I'm just providing this for your information, and for anyone else who hits upon similar difficulties.

[2017-09-28 14:07] placid2000 commented on #230
Hi, this might not really be relevant but I just want to share the information.

I'm getting the error

 by loading two fixture files
`$loader = $container->get('fidry_alice_data_fixtures.doctrine.persister_loader');`
` $loader->load([$fixturesDir . 'first.yml', $fixturesDir . 'second.yml']);`

And having the Language Entity defined one time in first.yml and one time in second.yml

[2017-09-28 14:42] theofidry commented on #230
@placid2000 I think https://github.com/theofidry/AliceDataFixtures/pull/52 would solve the issue. But open the issue on FidryAliceDataFixtures rather please :) This issue was about alice 2.x

[2017-09-29 07:29] Toflar opened #799 "Update the readme"
Especially the packagist badge kind of suggests that version 3 is still in development and not released yet 😄
But also the wording "this doc is being updated for alice 3.0" feels strange. Just say it contains the docs for alice 3.0, documentation is never finished and updated all the time anyway :)

Thanks for the awesome library!

[2017-10-01 13:02] #799 closed

[2017-10-01 13:03] theofidry commented on #798
Closing as already said, can't do much about it unfortunately :/

[2017-10-01 13:03] #798 closed

[2017-10-01 13:03] #476 closed

[2017-10-03 09:52] kermorgant opened #801 "Circular reference issue"
Hello,

I have two related entities User and Circle which have a "circular" relation via circle and leader properties. I am currently using nelmio/alice 3.0@RC and hautelook/alice-bundle 2.0@beta with doctrine 2.5.11

[code]

Unless I comment either "circle" or "leader" (options A or B), I get the following error

[code]

Any idea of what is wrong ?

[2017-10-03 18:30] theofidry commented on #801
Hi :)

Could you give me more detailed dependencies? There are more than one RC & Beta :)

This kind of fixtures should definitely work. Are you 100% sure that the fixture file containing `member*` is loaded?

[2017-10-03 19:57] kermorgant commented on #801
Thanks for the answer. What you said made me look a bit further and in fact, if I put the fixtures in the same file, it works :)

I should have mentionned it but I had a file circle.yml and a file user.yml with some other fixtures I removed for the sake of clarity, but it seems it is safer to keep fixtures in one file.

I guess it does not matter so much now but I had prepared a gist with my compo

[2017-10-03 20:32] theofidry commented on #801
I sure expect that, but it should definitely works in a different file as well. The requirement is that they are loaded at the same time, hence my question of if you were sure they were all loaded (you can use the `-vvv` option in HautelookAliceBundle.

The way it works is:

- get the data defined by _all_ the files
- instantiate all the fixtures
- populate them

So the order or the fact that they

[2017-10-04 05:35] kermorgant commented on #801
I just updated the gist with composer show output and here is the result of `-vvv` option

[code]

[2017-10-04 06:34] theofidry commented on #801
Could you try to update your dependencies and see if the issue has been
solved? Otherwise I would either need you to look at it by doing some step
by step debugging or give me access to an excerpt where the issue has been
introduced.

On Wed, 4 Oct 2017 at 06:35, Mikael Kermorgant <notifications@github.com>
wrote:

[2017-10-04 11:41] visiover opened #802 "Could not determine how to assign a (DC2Type:simple_array) longtext type"
I'm using Alice 2.x with Doctrine fixtures and mySql.
I'm getting this error when I'm trying to load some fixtures:

[code]
My Yaml file looks like something like this :

MyVendor\MyClass:
   MyObject:
     objectName: "myName"
     roles: "User:free"

roles is of type longtext (DC2Type:simple_array), It seems that Alice can't handle that type, Should i write my own populator or what should i do h

[2017-10-04 18:57] theofidry commented on #802
It's more likely to be a PHP issue rather than the doctrine type itself. Check if you have the necessary accessors eventually debugging it to see what it tries to get. I don't really remember what's the behaviour there in 2.x tbh. Writing your own populator could be doable but a real PITA due to 2.x design, so avoid that as much as possible. Last resort IIRC the was a `__config` or `__setter` opti

[2017-10-04 19:00] visiover commented on #802
Thank you very much for you quick answer :)
It has been resolved by writing my own Provider.

[2017-10-05 12:46] cadavre commented on #516
I have another case where escaping `@` doesn't work at all:

[code]

Gives me, in database:

[code]

[2017-10-05 13:45] theofidry commented on #516
@cadavre do you mind opening a new issue for it? I would prefer that rather than digging out that old issue :)

[2017-10-10 11:21] kermorgant commented on #801
Hi,

I just updated nelmio/alice & hautelook/alice-bundle to the latest dev version but unfortunately, the issue remains

[2017-10-10 11:48] theofidry commented on #801
Ok, I'll try to look at it this week

[2017-10-10 13:35] #802 closed

[2017-10-10 16:45] JoaoGFarias commented on #730
I'm with @robertkabat

[2017-10-10 16:48] theofidry commented on #730
Well, PRs are welcome for it then :)

[2017-10-11 18:16] danielspk opened #805 "Could not determine access type for property in TRAIT"
Hello, my entity uses trait to declare properties. I get the following error: [Symfony\Component\PropertyAccess\Exception\NoSuchPropertyException] - Could not determine access type for property "XXX" in class "XXX".

[2017-10-12 20:39] piotrbrzezina commented on #761
any progress ?

[2017-10-15 21:55] theofidry commented on #805
Hi, unfortunately I cannot help with more information but this is much more likely to be about the Symfony Property Access component. Please double check that the issue is really caused by the usage of a trait and if that's the case I recommend you to open an issue on the Symfony repository with a reproducible case.

[2017-10-15 21:57] theofidry opened #806 "Make services uncleanable"
Right know `IsAServiceTrait` throws an exception as they are not supposed to be cloned. However a cleaner way is to define the clone method as private which allows one to leverage the reflection class `isCloneable()` used for example in DeepCopy.

[2017-10-17 17:52] danielspk commented on #805
I use Doctrine ORM without Symfony.

Example:
`
trait CodeTrait
{
  /** @Column(type="string", length=15) */
  private $code;
}

class CivilState
{
  use CodeTrait;

  /**
   * @Id @Column(type="integer")
   * @GeneratedValue
   */
  private $id;

  //.. other properties and methods
}
`

The *code* property is not accessible by the Alice library.

[2017-10-18 08:21] theofidry opened #808 "Mention seed in the doc"

[2017-10-18 08:26] theofidry commented on #805
Hi,

I did not mean that you were using Symfony, but alice _is_ using the Symfony Property Access component to access to properties.

Accessing to a private property has been deprecated in 2.x and is removed (by default) in 3.x. It is still possible to do it [cf. this entry](https://github.com/nelmio/alice/blob/master/doc/advanced-guide.md#custom-accessor).

I'm re-opening the issue as there is tw

[2017-10-18 08:34] theofidry opened #809 "Do a release for 2.x and 3.x"

[2017-10-18 14:58] danielspk commented on #805
Hi,

I use version 2.3.1, i do not see any deprecated messages.

Caution: In version 3 other private properties (inside class) work well, only fails with the private properties contained within a trait.

[2017-10-18 20:51] dunglas commented on #805
It's not related to the trait, the PropertyAccess component do not support private properties without accessor methods (it's intended). You need to add a setter.

[2017-10-20 18:50] theofidry commented on #682
@robertkabat any news here?

[2017-10-20 18:52] theofidry commented on #428
@Simperfit could you check that on 3.x? I don't think this should be an issue anymore

[2017-10-20 19:06] theofidry commented on #805
@danielspk I've just tested your case and it does work with the hydrator mentioned in the doc in my previous comment. It doesn't work out of the box in 3.x as it was creating too many wtf situations and as pointed earlier, it is still possible to do it.

Regarding the deprecations, you _should_ see something. #816 and an existing test are ensuring it works. If you don't see it you may be missing t

[2017-10-20 19:06] #805 closed

[2017-10-20 20:03] Simperfit commented on #428
Yes will do
Le ven. 20 oct. 2017 à 20:52, Théo FIDRY <notifications@github.com> a
écrit :

[2017-10-20 20:32] #809 closed

[2017-10-20 20:57] theofidry commented on #627
Note that the cache needs to take into account wether or not the code source for the entities changed which makes it extremely complicated. Maybe an easier way would be to not care about that and allow the user to clear the cache manually when necessary.

[2017-10-20 21:02] theofidry commented on #711
To make this clearer: right now we have the following:

[code]

Instead we should have:

[code]

/cc @greg0ire

[2017-10-20 21:03] theofidry commented on #711
I'm not sure old services names should be deprecated, at least for now.

[2017-10-20 21:04] theofidry commented on #771
Closing in favour of https://github.com/nelmio/alice/issues/579

[2017-10-20 21:04] #771 closed

[2017-10-20 21:06] theofidry commented on #806
@Ocramius: I think you could either mention that or update your extremely defensive programming slides

[2017-10-20 21:12] theofidry commented on #801
Note to myself: @kermorgant reproduced the issue on a private repo

[2017-10-20 21:14] greg0ire commented on #711
This would be cleaner IMO:

[code]

[2017-10-20 22:13] robertkabat commented on #682
Hello,

Regarding bug itself - no. I have spent some time on it but it was not enough. I needed fast solution so I came up with workaround. If you are interested you can find it here:

[https://stackoverflow.com/questions/42638407/nelmio-alice-2-x-symfony-3-loading-related-fixtures-in-different-bundles/42869321#42869321](url)

This is how I structured my files:

[https://github.com/robertkabat/sto

[2017-10-22 08:47] #792 closed

[2017-10-22 09:50] #806 closed

[2017-10-22 15:41] #801 closed

[2017-10-22 15:42] #808 closed

[2017-10-23 07:05] curtchn opened #823 "Clearing cache on dev env throws exception with v2.3.2"
`Fatal error: Class 'Nelmio\Alice\Fixtures\Loader' not found in [ProjectLocation]\vendor\hautelook\alice-bundle\src\Alice\DataFixtures\Fixtures\Loader.php on line 22`
`PHP Fatal error:  Class 'Nelmio\Alice\Fixtures\Loader' not found in [ProjectLocation]\vendor\hautelook\alice-bundle\src\Alice\DataFixtures\Fixtures\Loader.php on line 22`

No exception occuring at 2.3.1

[2017-10-23 07:31] Mvannes opened #824 "Breaking changes in 2.3.2; (local) variables, datetime convertion"
Hi,
All of  our projects using Nelmio/Alice with dependency on `^2.3.0` just broke down. There seem to be two major problems with the `2.3.2` tag that break things in a way that is not expected of a simple patch.

# \DateTime conversion from strings is no longer working.
Given the following class:
[code]
And a `.yml` fixture declaration like so:
[code]

We get no errors in `2.3.1`

But in `2.3.2`

[2017-10-23 08:01] theofidry commented on #824
Should be fixed, I did a mistake when releasing 2.3.2, it was based on master instead of 2.x 😕

[2017-10-23 08:02] theofidry commented on #823
Should be fixed, I did a mistake when releasing 2.3.2, it was based on master instead of 2.x 😕

[2017-10-23 08:17] Mvannes commented on #824
Our Jenkins is filled with green again! Thanks! :)

[2017-10-23 08:24] theofidry commented on #824
🎉

[2017-10-23 08:24] #824 closed

[2017-10-23 12:02] curtchn commented on #823
2.3.3 fixes issue. Can be closed. Thanks :+1:

[2017-10-23 12:03] #823 closed

[2017-10-25 04:52] ArmRes opened #825 "Add support load fixture from JSON-files"
Add support load fixture from JSON-files.

[2017-10-25 09:35] theofidry commented on #825
There is already an example for the YAML and PHP so this shouldn't be too complicated. PRs are welcomed :)

[2017-10-25 11:31] nlemoine opened #826 "Templates - deep merge properties"
Just discovered the template inheritance. This a great feature.

However, I'm having an issue when property isn't single dimension. Consider the following example:

[code]

I would expect that `hobbies` from template would be deep merged with the current iteration. So I get this for `$user->hobbies`:
[code]

I'm currently getting:
[code]

Would this be something doable?

[2017-10-25 14:17] theofidry commented on #826
Although that would be doable, this would be a BC break. Rather than looking at them as nested objects, I think it's easier to look at the property as an atomic object.

So I know where you're coming from, but I'm not sure it's worth it (can lead to a lot of wtf as well) and clearly not doable without a BC break